# A dictionary in Python is a collection of key-value pairs, where each key is unique
# Dictionaries are unordered, mutable, allows duplicates .
# Unordered (before Python 3.7), ordered from Python 3.7+.
# Mutable → you can change, add, or remove items

In [1]:
a={"key":"value","key2":"value2",}
print(type(a))

<class 'dict'>

In [113]:
b={1:"wwe",1:"word",1:89} ## Keys → unique and immutable Values
print(b)
#Keys must be unique.
#If duplicates are written, Python keeps the last value.

{1: 89}

# Creating dictionaries

In [115]:
a=dict(a=1, b=2) #dict constructor
b={1:"maisha"}#simple dictionary
print(a)
b

{'a': 1, 'b': 2}

{1: 'maisha'}

# Accssesing elements/items
# syntax
#  get().get() Using  (safer, no KeyError if key missing):
#  dic_name[][][] will give error if key not found
# keys()
# values()
# d.keys() → returns all keys
# d.values() → returns all values
# d.items() → returns key-value pairs as tuples
# ny_office = f["locations"].get("NY")

In [304]:
squares = {x: x**2 for x in range(5)}
print(squares)  # {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [ ]:
dict.update(other_dict)	Adds/updates key-value pairs from another dict
dict.copy()	Shallow copy of dict

In [307]:
d={1:5,2:7}
d2={2:8,3:9}
d.update(d2)
d

{1: 5, 2: 8, 3: 9}

In [118]:
d = {"name": "Alice", "age": 20}
# error d[3]
#print(d["name"])   # Alice
print(d["age"])

20

In [123]:
f = {"name":"TechCorp","CEO":"Alice","employees":350,"locations":["NY","London","Tokyo"],"public":True}
f["locations"][1]
#dictionary made index nahi key work ok
#list mdhe index work hote

'London'

In [134]:
f = { "name": "TechCorp","CEO": "Alice","employees": 350,"locations": {"NY": "New York Office","London": "London Office",}}
f["locations"]["NY"]
f["locations"]["london"] #key error in this way

KeyError: 'london'

In [201]:
f = { "name": "TechCorp","CEO": "Alice","employees": 350,"locations": {"NY": "New York Office","London": "London Office",}}
print(f["locations"]["NY"])
f["locations"]["London"]

New York Office

'London Office'

In [139]:
# Using get() (safer, no KeyError if key missing):
f = { "name": "TechCorp","CEO": "Alice","employees": 350,"locations": {"NY": "New York Office","London": "London Office",}}
print(f.get("locations").get("London"))#no key error even if values is not there
a=f["locations"].get("London")
#syntax get().get()
#syntax dic_name[][][]
a

London Office

'London Office'

# Adding or updating elements

In [151]:
d = {"name": "Alice"}
d["age"] = 20          # add new key-value
d["name"] = "Bob"      # update existing key
d["birth"]="hinganghat"
d.update({1:"stir",2:"meena"}) #Using keyword arguments (keys must be strings):
d.update(one="stir", two="meena") #key without "" in update
d

{'name': 'Bob',
 'age': 20,
 'birth': 'hinganghat',
 1: 'stir',
 2: 'meena',
 'one': 'stir',
 'two': 'meena'}

# Removing items

In [ ]:
#Method	Description	Example
#pop(key)	Removes key & returns value	d.pop("age")
#popitem()	Removes last inserted item (Python 3.7+)	d.popitem()
del d[key]	Deletes a key	del d["name"]
clear()	Removes all items	d.clear()

# pop()
### Deletes a key from the dictionary.
###  return the value.
### Can provide a default value if the key doesn’t exist (prevents error).

In [155]:
f = { "name": "TechCorp",2:"hee"}#one key one value no more than that
print(f.pop(2))#deleted key and print value but in actual deletes key and value both
f

hee

{'name': 'TechCorp'}

 # popitem()

In [159]:
f = { "name": "TechCorp","CEO": "Alice","employees": 350,}
f.popitem() #dict.popitem() takes no arguments (1 given)
f

{'name': 'TechCorp', 'CEO': 'Alice'}

# del d[key]
### Deletes a key from the dictionary.
### Does NOT return the value.
### Throws KeyError if the key doesn’t exist.

In [164]:
v = { "name": "TechCorp","CEO": "Alice","employees": 350,}
del v["name"]
v
#detletes key and value both have to pass key else invalid syntax

{'CEO': 'Alice', 'employees': 350}

# clear()

In [ ]:
clear()
Removes all items
d.clear()

In [165]:
v.clear()
v

{}

# 3️⃣ Checking membership
# key in d → True if key exists
# key not in d → True if key doesn’t exist

In [2]:
len(a)

2

In [5]:
a.items() #To know the items in dictionary will give result in list

dict_items([('key', 'value'), ('key2', 'value2')])

In [6]:
a["key2"] # We dont use indexing in dictionary we use key to acssess elements......

'value2'

In [ ]:
a.keys() # to acssess  all  keys

In [7]:
a.values()  to  acssess all values

dict_values(['value', 'value2'])

In [8]:
b={1:"aishwarya",2:"jenny",3:"minakshi washing powder"}

In [9]:
print(b)

{1: 'aishwarya', 2: 'jenny', 3: 'minakshi washing powder'}

In [10]:
b.keys()

dict_keys([1, 2, 3])

In [11]:
b.items()

dict_items([(1, 'aishwarya'), (2, 'jenny'), (3, 'minakshi washing powder')])

In [15]:
b.values()
b[2]

KeyError: 'jenny'

In [16]:
car={"brand":"audi","modelNo":"MH678","clr":"black","price":353800}

In [17]:
print(car)

{'brand': 'audi', 'modelNo': 'MH678', 'clr': 'black', 'price': 353800}

In [20]:
car[brand] #have to use ""

NameError: name 'brand' is not defined

In [21]:
car["brand"]

'audi'

In [22]:
car["brand"]

'audi'

In [24]:
car["brand"]="mercedes" #Replces value

In [26]:
print(car)

{'brand': 'mercedes', 'modelNo': 'MH678', 'clr': 'black', 'price': 353800}

In [28]:
car["rel_year"]=2004

In [29]:
print(car)

{'brand': 'mercedes', 'modelNo': 'MH678', 'clr': 'black', 'price': 353800, 'rel_year': 2004}

In [30]:
car.pop("rel_year")

2004

In [31]:
print(car)

{'brand': 'mercedes', 'modelNo': 'MH678', 'clr': 'black', 'price': 353800}

In [32]:
x=car.copy()

In [33]:
print(x)

{'brand': 'mercedes', 'modelNo': 'MH678', 'clr': 'black', 'price': 353800}

In [40]:
key=[1,2,3,4,5,6]
d= dict.fromkeys(key,"aishwarya")

In [38]:
print(d)

{1: 'aishwarya', 2: 'aishwarya', 3: 'aishwarya', 4: 'aishwarya', 5: 'aishwarya', 6: 'aishwarya'}

In [41]:
car.get("brand")

'mercedes'

In [43]:
car.get("ser_num","MH676")

'MH676'

In [44]:
print(car)

{'brand': 'mercedes', 'modelNo': 'MH678', 'clr': 'black', 'price': 353800}

In [45]:
a={"name":"mangesh"}
print(a)

{'name': 'mangesh'}

In [46]:
a.setdefault("age",23)
# useful when you want to:
#Add a key only if it doesn’t already exist
#Avoid overwriting existing values
#Initialize lists or counters inside dictionaries

23

In [47]:
a.update({"surname":"sambhare","passoutyear":2024})

In [48]:
print(a)

{'name': 'mangesh', 'age': 23, 'surname': 'sambhare', 'passoutyear': 2024}

In [49]:
a.values()

dict_values(['mangesh', 23, 'sambhare', 2024])

In [52]:
a.get("age")

23

In [53]:
a["age"]

23

In [57]:
a={1:"apple"} #To mixed these two dictionaries
b={2:"banana"}
c=a|b #union operation
c

{1: 'apple', 2: 'banana'}

In [59]:
dic1={1:"ananaya",2 :{3:"hello"},3:{4:"minakshi"}}

In [60]:
print(dic1)

{1: 'ananaya', 2: {3: 'hello'}, 3: {4: 'minakshi'}}

In [62]:
print(dic1[2][3])

hello

In [63]:
print(a.get(2).get(3))

AttributeError: 'NoneType' object has no attribute 'get'

In [65]:
dic2= {"A":{"B":34, "C":{"D":90},"F":89,"45":{6:{45:8}}}}
print(dic2)

{'A': {'B': 34, 'C': {'D': 90}, 'F': 89, '45': {6: {45: 8}}}}

In [73]:
dic2[A][B]

NameError: name 'A' is not defined

In [68]:
dic2["A"]["B"]

34

In [69]:
dic2["A"]["45"]

{6: {45: 8}}

In [70]:
dic2["A"]["45"][6]

{45: 8}

In [72]:
dic2["A"]["45"][6][45]

8

In [74]:
dic2.get(6)

In [75]:
print(dic2)

{'A': {'B': 34, 'C': {'D': 90}, 'F': 89, '45': {6: {45: 8}}}}

In [79]:
#-try to access 234 out of this list

In [86]:
list1 = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]
list1[7][0]

234

In [ ]:
#-try to access 456

In [87]:
list1[5][1]

456

In [ ]:
#-Try to extract only a list collection form list l

In [94]:
for item in list1:
    if type(item) is list:
       print(item)
print(item)

[23, 456, 67, 8, 78, 78]
[345, 56, 87, 8, 98, 9]
{'key1': 'sudh', 234: [23, 45, 656]}

In [ ]:
#-Try to extract "sudh"

In [95]:
list1["key1"]

TypeError: list indices must be integers or slices, not str

In [105]:
list1[8]

{'key1': 'sudh', 234: [23, 45, 656]}

In [106]:
list1[8]["key1"]

'sudh'

In [189]:
# Try to list all the key in dict element avaible in list
list1 = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]
keys=[]
for item in list1:
    if type(item)==dict:
        keys += item 
print(keys)

['key1', 234]

In [206]:
list1[8].keys()

dict_keys(['key1', 234])

In [202]:
list1 = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]
print(list1[5:7]+list1[8][234])

[[23, 456, 67, 8, 78, 78], [345, 56, 87, 8, 98, 9]]
[[23, 456, 67, 8, 78, 78], [345, 56, 87, 8, 98, 9], 23, 45, 656]

In [ ]:
# -Try to extract all the value element form dict available in list

In [207]:
list1[8].values()

dict_values(['sudh', [23, 45, 656]])

# -Try to extract only total number of  elemets in list collection form list l

In [208]:
l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]

In [221]:
len(l)
print(len(l[5]))
print(len(l[6]))
print(len(l[8][234]))

6
6
3

# Access the nested key increment from the following dictionary
Access 12
emp_dict = {
    "company": {
        "employee": {
            "name": "Jess",
            "payable": {
                "salary": 9000,
                "increment": 12
            }
        }
    }
}

In [210]:
emp_dict = {"company": {"employee": {"name": "Jess","payable": {"salary": 9000,"increment": 12 }}}}
emp_dict["company"]["employee"]["payable"]["increment"]

12

# take integer as input and print its square as output

In [320]:
num=int(input("enter the number"))
print(num*num)

enter the number 3

9

# Accept registeration number of vehical as input and print its state code as output

In [321]:
registeration_number=input("enter the registeration number: ")
state_code=registeration_number[: 2]
print(state_code)

enter the registeration number:  MH456789

MH

# ) Accept five words as input and print the sentence formed by these words after adding a space between consecutive words and a full stop at the end.

In [218]:
word1=input("enter the word: ")
word2=input("enter the word: ")
word3=input("enter the word: ")
word4=input("enter the word: ")
word5=input("enter the word: ")
sentence= word1 +" "+word2+" "+word3+" "+ word4 +" "+word5
print(sentence)

enter the word:  hi
enter the word:  my
enter the word:  name
enter the word:  is
enter the word:  meena

hi my name is meena

# )  Accept the date in DD-MM-YYYY format as input and print the year as output

In [264]:
whole_date=input("enter date in DD-MM-YYYY format : ")
#It is ONE single string:
#"25-11-2025"
day,month,year=whole_date.split('-')
#You must manually split the string by the - character. - then only python can know which is day month and year else it is just a string for it..
print(year)

enter date in DD-MM-YYYY format :  23-11-2002

2002

In [323]:
whole_date=input("enter date in DD-MM-YYYY format : ")
print(whole_date[6:])

enter date in DD-MM-YYYY format :  12-11-2002

2002

# Accept five words as input and print the sentence formed by these words after adding a space between consecutive words and a full stop at the end.

In [300]:
# Take input of 5 words separated by spaces
a1, b1, c1, d1, e1 = input("Enter five words separated by spaces: ").split()
# Form the sentence with spaces
sentence = a1 + " " + b1 + " " + c1 + " " + d1 + " " + e1
# Print sentence with a period
print(sentence + ".")

enter five words : himynaeis aish

ValueError: too many values to unpack (expected 5)

In [303]:
a1=input("enter five words :")
b1=input("enter five words :")
c1=input("enter five words :")
d1=input("enter five words :")
e1=input("enter five words :")
sentence=a1+" "+b1+" "+c1+" "+d1+" "+e1
print(sentence+".")

enter five words : hi
enter five words : how
enter five words : are
enter five words : you
enter five words : there

hi how are you  there.

#  Accept a sequence of five single digit numbers separated by commas as input. Print the product of all five numbers.

In [ ]:
a,b,c,d,e=input("enter the number").split(',') #here u need comma as a string---------
product=int(a)*int(b)*int(c)*int(d)*int(e) #converted string into int function(a)
product

In [292]:
s=input()

a=s.split()#split chya bracket chya andar je lihiti tithun split hote te input mdhe taka lagte
s
a

 hello guyshow r u

['hello', 'guyshow', 'r', 'u']

# min max values from list

l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]

In [239]:
l[0:5]

[3, 4, 5, 6, 7]

In [244]:
print(max(l[0:5]))
print(min(l[0:5]))

7
3

# How many items are in the tuple

In [ ]:
l[5]
max(l[5])
min(l[6])

In [ ]:
l = [3, 4, 5, 6, 7, [23, 456, 67, 8, 78, 78], [345, 56, 87, 8, 98, 9], (234, 6657, 6), {'key1': 'sudh', 234: [23, 45, 656]}]
# What are the minimum and maximum values among just the first five integer elements of the list l?
# How many items are in the tuple
#  What is the sum of the first five integers in the list

# How many items are in the tuple

In [249]:
l = [3, 4, 5, 6, 7, [23, 456, 67, 8, 78, 78], [345, 56, 87, 8, 98, 9], (234, 6657, 6), {'key1': 'sudh', 234: [23, 45, 656]}]
len(l[7])

3

# #  What is the sum of the first five integers in the list

In [250]:
l = [3, 4, 5, 6, 7, [23, 456, 67, 8, 78, 78], [345, 56, 87, 8, 98, 9], (234, 6657, 6), {'key1': 'sudh', 234: [23, 45, 656]}]
print(sum(l[0:5]))

25

In [313]:
List=[1,2.3,"prograam",1]
type(List)

list

In [315]:
list=[]
print(list)
list = [10, "hello", 3.14]
list[1] # Output: hello

[]

'hello'

In [316]:
l=[1,2]
l.clear()

In [317]:
l

[]