# for loop - Runs for a fixed number of times	Runs until a condition becomes false
# while loop -Used when you know how many times you want to repeat something	Used when you don’t know how many times you will repeat

In [1]:
for i in range(30):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [2]:
for i in range(30):
    print(i,end=" ") #To print in horizantal way  ➡️ Don’t go to a new line ➡️ Put a space after printing each value

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29

In [3]:
a="Aishwarya"
for i in a:
    print(i,end=" ")

A i s h w a r y a

In [2]:
a=5
b="mangesh"#count string character and print that much times
for i in b:
    a=a+1
    print("output",a)

output 6
output 7
output 8
output 9
output 10
output 11
output 12

In [8]:
a=5
b="mangesh"#count string character and print that much times
for i in b:
    a=a+1
    print("output",i,a,b)

output m 6 mangesh
output a 7 mangesh
output n 8 mangesh
output g 9 mangesh
output e 10 mangesh
output s 11 mangesh
output h 12 mangesh

In [9]:
a=5
b=3 #Error because int object iterable nahi hai, have to use range function
for i in b:
    a=a+1
    print("output",a)

TypeError: 'int' object is not iterable

In [ ]:
a=5
b=3 #Error because int object iterable nahi hai
for i in b:
    a=a+1
    print("output",a)

In [10]:
a=5
b=3 #Error because int object iterable nahi hai
for i in range(b):
    a=a+1
    print("output",a)

output 6
output 7
output 8

In [12]:
num_iteration=5
fact=1
for i in num_iteration:
    fact=fact*1
    print("each values in loop will print here because it is inside the loop",fact)
print("value of fact tital : ",fact)

TypeError: 'int' object is not iterable

In [20]:
num_iteration=5
fact=1
for i in range(1,num_iteration+1):
    fact= fact*i #Multiply with i
    print("each values in loop will print here because it is inside the loop",fact)
print("___________________________________________________________________________________")

print("value of fact tital : ",fact)

each values in loop will print here because it is inside the loop 1
each values in loop will print here because it is inside the loop 2
each values in loop will print here because it is inside the loop 6
each values in loop will print here because it is inside the loop 24
each values in loop will print here because it is inside the loop 120
___________________________________________________________________________________
value of fact tital :  120

In [26]:
#for variable in sequence:
    # code to execute
a=[1,2,3] 
for i in a:
    print(i)
print(i)

1
2
3
3

In [34]:
n=6
fact=1
for i in range(1,n+1): #1,7 looping here
    fact=fact*i #1=1*1,-------------------------
    print(i,"*",fact)

1 * 6 1
2 * 6 2
3 * 6 6
4 * 6 24
5 * 6 120
6 * 6 720

In [70]:
num=range(1,6)
fact=1
step=" "
for i in num:
    fact=fact*i
    print(f"This is factorials of {fact}")

This is factorials of 1
This is factorials of 2
This is factorials of 6
This is factorials of 24
This is factorials of 120

In [73]:
#make list items as an key of dictionary
#count values that how many time it appears in code and add in dictionary as a value...
l=[1,2,3,4,5,63,5,6,6,4,345,60,90]
d={}
for i in l:
    a=l.count(i)
    d[i]=a
print(d)

{1: 1, 2: 1, 3: 1, 4: 2, 5: 2, 63: 1, 6: 2, 345: 1, 60: 1, 90: 1}

In [75]:
#extract emailid from string
str="my name is dhanashree and mail is aishwaryazade24@gmail.com"
value=str.split('@')
print(value)

['my name is dhanashree and mail is aishwaryazade24', 'gmail.com']

# while loop

In [ ]:
a=1
while a<=5:
    print(a)
    #THis will continuously print a we  cant stop then

In [77]:
a=1
while a<=5:
    print(a)
    a=a+1
    #mandatorily have to put increment or decrement else loop will continue repeat one integer

1
2
3
4
5

In [1]:
n=1
while n<=5:
    print(n)
    n=n+1
    print("after increment ",n)
else:
    print("here loop stops")

1
after increment  2
2
after increment  3
3
after increment  4
4
after increment  5
5
after increment  6
here loop stops