In [ ]:
Print numbers from 1 to 10 using a for loop.

Print even numbers from 2 to 20.

Print odd numbers from 1 to 15.

Print each character of a string using a for loop.

Print the squares of numbers from 1 to 10.

Print your name 5 times.

Print table of 5 (5, 10, 15‚Ä¶50).

Print elements of a list using a for loop.

In [4]:
#Print numbers from 1 to 10 using a for loop.
num=0
for i in range(1,11):
    #print(i)
    num=i
    print(num)

1
2
3
4
5
6
7
8
9
10

In [7]:
#Print even numbers from 2 to 20.
for i in range(2,21):
    if i%2==0: #even means modulous operation and remainder is 0
        print(i)

2
4
6
8
10
12
14
16
18
20

In [13]:
#Print odd numbers from 1 to 15.
for i in range(1,16):
    if i%2!=0:
       print("even numbers are " ,i)

even numbers are  1
even numbers are  3
even numbers are  5
even numbers are  7
even numbers are  9
even numbers are  11
even numbers are  13
even numbers are  15

In [14]:
#Print each character of a string using a for loop.
str="hey all of you there"
for i in str:
    print(i)

h
e
y

a
l
l

o
f

y
o
u

t
h
e
r
e

In [15]:
#Print the squares of numbers from 1 to 10.
for i in range(1,11):
    print(i*i)

1
4
9
16
25
36
49
64
81
100

In [19]:
#Print your name 5 times.
name="aishwarya zade"
n=5
for i in range(5): #range 5 for limit
        print(name)

aishwarya zade
aishwarya zade
aishwarya zade
aishwarya zade
aishwarya zade

In [20]:
#Print table of 5 (5, 10, 15‚Ä¶50).
num=5
for i in range(1,11):
    i=num*i
    print(i)

5
10
15
20
25
30
35
40
45
50

In [21]:
# Print elements of a list using a for loop.
list1=[1,23,5,6,7,5]
for i in list1:
    print(i)

1
23
5
6
7
5

In [ ]:
‚úÖ Level 2: Intermediate

Print the sum of numbers from 1 to 50.

Print the factorial of 5 using a for loop.

Count how many vowels are in a string.

Find the largest number in a list using a for loop.

Reverse a string using a for loop.

Count how many even and odd numbers are in a list.

Print the multiplication table of any number taken from user.

In [28]:
#Print the sum of numbers from 1 to 50.
sum=0
for i in range(1,50):
    sum=sum+i
print(sum)

1225

In [29]:
#Print the factorial of 5 using a for loop.
num=5
fact=1
for i in range(1,6):
    fact=fact*i
print(fact)

120

In [132]:
#Count how many vowels are in a string.
str="hey there"
count=0
for i in str:
    if i==['a','e','i','o','u']:
       count=count+i
       print(i)

In [48]:
str="google facebook"
vowels="aeiou"
count=0
for i in str:
    if i in vowels:
        count=count+1
print(count)

7

In [50]:
#Find the largest number in a list using a for loop.
num=[1,2,3,4,5,6,7,8,9,8]
max=0
for i in num:
    if i>max:
        max=i
print(max)

9

In [52]:
#Reverse a string using a for loop.
str="myname"
str[::-1]

'emanym'

In [64]:
#Reverse a string using a for loop.
str="myname"
rev="" #empty reverse variable to add items one by one 
for i in str:
    rev=i+rev #empty+i emanym
print(rev)

emanym

In [76]:
#Count how many even and odd numbers are in a list.
listt=[1,2,3,4,5,6,7,8,9,10,11]
count_odd=0       # two variables for odd and even
for i in listt:
    if i%2!=0:
        count_odd=count_odd+1
print(count_odd) 
count_even=0      # two variables for odd and even
for i in listt:
    if i%2==0:
        count_even=count_even+1 
print(count_even)

6
5

In [84]:
#Print the multiplication table of any number taken from user.
user_input=int(input("enter the number"))
for i in range(1,11):
    multiplication=user_input*i
    print(user_input,"*", multiplication)

enter the number 5

5 * 5
5 * 10
5 * 15
5 * 20
5 * 25
5 * 30
5 * 35
5 * 40
5 * 45
5 * 50

In [98]:
#extract emailid from string
str="my name is dhanashree and mail is aishwaryazade24@gmail.com"
value=" "
for i in str.split():
    if "@" in i:
        print("emailid ",i)
print("emailid ",i)

emailid  aishwaryazade24@gmail.com
emailid  aishwaryazade24@gmail.com

In [105]:
s = "my name is dhanashree and mail is aishwaryazade24@gmail.com"

for word in s.split():
    if "mail" in word:
        print("Email ID:", word)

Email ID: mail
Email ID: aishwaryazade24@gmail.com

In [106]:
#extract emailid from string
str="my name is dhanashree and mail is aishwaryazade24@gmail.com"
value=" "
for i in str:
    if "@" in i:
        print("emailid ",i)
print("emailid ",i)

emailid  @
emailid  m

In [108]:
for i in range(1,100):
    if i<=15:
        print(i)
    else:
        print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [116]:
for i in range(1,100):
    print(i)
    if i>=15:
        break
    else:
        pass

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [ ]:
print the following pattern
*
**
***
****
*****

In [ ]:
print the following pattern
*
**
***
****
*****

In [133]:
for i in range(1,6):
    print("*"*i)

*
**
***
****
*****

In [ ]:
2) Accept a string as input and print the vowels present in the string in 
alphabetical order. If the string doesn‚Äôt contain any vowels, then 
print the string none as output. Each vowel that appears in the input 
string ‚Äì irrespective of its case should appear just once in lower case 
in the output

In [144]:
count=0
vowels='a','e','i','o','u'
str_input=input("enter the string input :")
for i in str_input:
    if i.lower() in vowels:
        count=count+1
        print(i,count)

enter the string input : hiowejuiq

i 1
o 2
e 3
u 4
i 5

In [146]:
3) You are given the date of birth of two persons, not necessarily from 
the same family. Your task is to find the younger of the two. If both 
of them share the same date of birth, then the younger of the two is 
assumed to be that person whose name comes first in alphabetical 
order.
The input will have four lines. The first two lines correspond to the 
first person, while the last two lines correspond to the second 
person. For each person, the first line corresponds to the name and 
the second line corresponds to the date of birth in ‚ÄúDD-MM-YYYY‚Äù 
format. Your output should be the name of the younger of the two.

SyntaxError: unmatched ')' (2266854150.py, line 1)

In [151]:
# Input names
p1_name = input("Enter person 1 name: ")
dob1 = input("Enter DOB (DD-MM-YYYY): ")

p2_name = input("Enter person 2 name: ")
dob2 = input("Enter DOB (DD-MM-YYYY): ")

# Split DOB1 manually
part1 = dob1.split('-')
d1 = int(part1[0])
m1 = int(part1[1])
y1 = int(part1[2])

# Split DOB2 manually
part2 = dob2.split('-')
d2 = int(part2[0])
m2 = int(part2[1])
y2 = int(part2[2])

# Compare DOBs to find younger
if (y1, m1, d1) > (y2, m2, d2):
    print(p1_name)
elif (y1, m1, d1) < (y2, m2, d2):
    print(p2_name)
else:
    # Same DOB, pick alphabetically first
    if p1_name < p2_name:
        print(p1_name)
    else:
        print(p2_name)

Enter person 1 name:  hira
Enter DOB (DD-MM-YYYY):  23-11-2002
Enter person 2 name:  mira
Enter DOB (DD-MM-YYYY):  23-11-2001

hira

In [155]:
# Input names
p1_name = input("Enter person 1 name: ")
dob1 = input("Enter DOB (DD-MM-YYYY): ")

p2_name = input("Enter person 2 name: ")
dob2 = input("Enter DOB (DD-MM-YYYY): ")

part1=dob1.split("-")
d1 = int(part1[0])
m1 = int(part1[1])
y1 = int(part1[2])

part2=dob2.split("-")
d2 = int(part2[0])
m2 = int(part2[1])
y2 = int(part2[2])

if (d1,m1,y1)>(d2,m2,y2):
    print(p2_name)
else:
     print(p2_name)

Enter person 1 name:  HI
Enter DOB (DD-MM-YYYY):  23-11-2002
Enter person 2 name:  JIA
Enter DOB (DD-MM-YYYY):  23-11-2000

JIA

In [ ]:
‚≠ê Easy examples:
‚úî Prime numbers:

2 ‚Üí can be divided only by 1 and 2

3 ‚Üí can be divided only by 1 and 3

5 ‚Üí can be divided only by 1 and 5

7 ‚Üí can be divided only by 1 and 7

üëâ These numbers do not divide evenly by any other number.

‚úñ Not prime (composite numbers):

4 ‚Üí can be divided by 1, 2, 4

6 ‚Üí can be divided by 1, 2, 3, 6

8 ‚Üí can be divided by 1, 2, 4, 8

üëâ These numbers divide evenly by many numbers.

In [ ]:
4) Accept a positive integer n as input, where n is greater than 1. 
Print PRIME ifnis a prime number and NOTPRIME otherwise

In [164]:
inp=int(input("any integer: "))
if inp//1 and inp//inp==0:
    print(inp,"prime")
else:
    print(inp,"not prime")

any integer:  2

2 not prime