## Use for small operations perform

In [2]:
add= lambda a,b :a+b ##a b are arguments then addd

<function <lambda> at 0x0000021F0B068CC0>

In [ ]:
.upper
.lower
.title
.captitalize()

In [ ]:
lambda arguments : expression

In [8]:
names=["mosstech","dhanashri"]
print(names)

['mosstech', 'dhanashri']

In [9]:
list_upper= lambda a:a.upper()

In [10]:
list_upper(names)

AttributeError: 'list' object has no attribute 'upper'

In [12]:
list_upper=list(map(lambda a:a.upper(),names))

In [13]:
print(list_upper)

['MOSSTECH', 'DHANASHRI']

In [14]:
list_upper=list(map(lambda a:len(a)>5,names))

In [15]:
list_upper

[True, True]

In [16]:
list_upper=list(filter(lambda a:len(a)>5,names)) #for to print only greater than 5 lengt names

In [18]:
import datetime
date_time=datetime.datetime.now()
print(date_time)

2025-12-15 18:57:09.004013

In [20]:
 day=lambda a:a.day()
print(day(date_time))

TypeError: 'int' object is not callable

In [ ]:
lambda aruments:expression

In [21]:
mul=lambda a,b:a*b
print(mul(2,3))

6

In [30]:
mul=lambda a,b,c:a*b*c
print(mul(2,3,3))

18

In [31]:
mul(23,4,4)

368

In [32]:
max_number=lambda a,b:a if a>b else b
print(max_number(2,3))

3

In [33]:
list_n=[1,2,3,4,5,6]
var=lambda a:a*2
var

In [34]:
list_n=[1,2,3,4,5,6]
var=map(lambda a:a*2)
var

TypeError: map() must have at least two arguments.

In [35]:
list_n=[1,2,3,4,5,6]
var=map(lambda a:a*2,list_n) #here have to put list name because map takes atleast 2 arguments
var

In [36]:
list_n=[1,2,3,4,5,6]
var=list(map(lambda a:a*2,list_n)) #here have to put list name because map takes atleast 2 arguments
var

[2, 4, 6, 8, 10, 12]

In [38]:
#filter
list1=[1,2,3,4,5,6,7,8]
var=list(filter(lambda a:a%2==0,list1))
var

[2, 4, 6, 8]

In [44]:
from functools import reduce
tuple1=(1,2,3,4)
var=reduce(lambda a,b:a+b,tuple1)
var

10

In [45]:
from functools import reduce
tuple1=(1,2,3,4)
var=tuple(reduce(lambda a,b:a+b,tuple1)) #it is wrong because it not map it is reduce.........
var

TypeError: 'int' object is not iterable

In [47]:
tuple1=("hina","jina","sina","tina","rina",)
var=tuple(map(lambda a:a.lower()))
print(var)

TypeError: map() must have at least two arguments.

In [49]:
tuple1=("hina","jina","sina","tina","rina",)
var=tuple(map(lambda a:a.upper(),tuple1))
print(var)

('HINA', 'JINA', 'SINA', 'TINA', 'RINA')

In [51]:
tuple1=("hina","jina","sina","tina","rina",)
var=tuple(map(lambda a:a.title(),tuple1))
var

('Hina', 'Jina', 'Sina', 'Tina', 'Rina')

In [55]:
dic={"hello":"good afternoon","hi":"good morning"}
var= dict(lambda a:a.capitalize(),dic[a],dic)
var #In dic thre are key values pairs thats why it will give error

NameError: name 'a' is not defined

In [53]:
dic = {"hello":"good afternoon","hi":"good morning"}
var = dict(map(lambda a: (a.capitalize(), dic[a]), dic))
print(var)

{'Hello': 'good afternoon', 'Hi': 'good morning'}

In [ ]:
Use lambda with map() to square all numbers in a list.

Use lambda with filter() to get even numbers from a tuple.

Use lambda with map() to convert all strings in a list to uppercase.

Use lambda with filter() to select words with length greater than 4 from a list.

Use lambda with map() to add 5 to each element in a set.

Use lambda with filter() to get numbers divisible by 3 from a list.

Use lambda with map() to find the length of each word in a tuple of strings.

Use lambda with filter() to remove empty strings from a list.

Use lambda with map() to capitalize dictionary keys.

Use lambda with map() to capitalize dictionary values.

Use lambda with filter() to select values greater than 50 from a list.

Use lambda with map() to convert a list of strings into integers.

Use lambda with filter() to get names starting with vowel from a list.

Use lambda with reduce() to find the product of numbers in a list.

Use lambda with map() to reverse each string in a tuple.

In [57]:
#Use lambda with map() to square all numbers in a list.
list1=[1,2,3,4,5,6,7,8]
var=list(map(lambda a:a**2,list1))
print(var)

[1, 4, 9, 16, 25, 36, 49, 64]

In [58]:
#Use lambda with filter() to get even numbers from a tuple.
tuple1=(1,2,3,4,5,6,6,7,8,9,10)
var=tuple(filter(lambda a:a%2!=0,tuple1))
print(var)

(1, 3, 5, 7, 9)

In [59]:
#Use lambda with map() to convert all strings in a list to uppercase.
list1=["jully","kully","trully","fully",]
var=list(map(lambda a:a.upper(),list1))
print(var)

['JULLY', 'KULLY', 'TRULLY', 'FULLY']

In [65]:
var="kiivi"
print(var)#this will not work

kiivi

In [62]:
var=["hina"]
print(var) #this will not work

['hina']

In [63]:
(lambda x: x.upper())("hina")

'HINA'

In [ ]:
#Use lambda with filter() to select words with length greater than 4 from a list.

In [73]:
list1=["jullyiooo","kullyioooooo","trully","fu",]
var=list(filter(lambda a:len(a)>4,list1))
print(list1)

['jullyiooo', 'kullyioooooo', 'trully', 'fu']

In [ ]:
ðŸ§  Why this happens (easy)

filter() does NOT change list1

It creates a new list and stores it in var

You printed list1, so you see the original list

In [74]:
list1=["jullyiooo","kullyioooooo","trully","fu",]
var=list(filter(lambda a:len(a)>4,list1))
print(var)

['jullyiooo', 'kullyioooooo', 'trully']

In [76]:
#Use lambda with map() to add 5 to each element in a set.
set1={1,2,3}
var=set(map(lambda a:a+5,set1))
print(var)

{8, 6, 7}

In [79]:
#Use lambda with filter() to get numbers divisible by 3 from a list.
list1=[1,2,3,4,5,6,7,8,90]
var= list(filter(lambda a:a%3==0,list1))
print(var)

[3, 6, 90]

In [81]:
# Use lambda with map() to find the length of each word in a tuple of strings.
tuple1=("jullyiooo","kullyioooooo","trully","fu","momo")
var=tuple(map(lambda a:len(a),tuple1))
print(var)

(9, 12, 6, 2, 4)

In [84]:
#Use lambda with filter() to remove empty strings from a list.
list1=["jullyiooo","kullyioooooo","trully","fu","momo","",""]
var=list(filter(lambda a:a!="",list1))
print(var)

['jullyiooo', 'kullyioooooo', 'trully', 'fu', 'momo']

In [92]:
#Use lambda with map() to capitalize dictionary keys.
dic1={'apple': 'APPLE', 'banana': 'BANANA'}
var=dict(map(lambda a:(a.capitalize(),dic1[a]),dic1))
print(var)

{'Apple': 'APPLE', 'Banana': 'BANANA'}

In [93]:
#Use lambda with filter() to select values greater than 50 from a list.
list1=[1,2,312,232,221,12,34,56,65]
var=list(filter(lambda a:a>50,list1))
print(var)

[312, 232, 221, 56, 65]

In [94]:
#Use lambda with map() to convert a list of strings into integers.
list1=["1","2","3","4","5"]
var=list(map(lambda a:int(a),list1))
print(var)

[1, 2, 3, 4, 5]

In [96]:
# Use lambda with filter() to get names starting with vowel from a list.
list1=["aullyiooo","iullyioooooo","trully","fu","momo","",""]
var=list(filter(lambda a:a.startswith(('a','e','i','o','u','A','E','I','O','U')),list1))
print(var)

['aullyiooo', 'iullyioooooo']

In [100]:
#Use lambda with reduce() to find the product of numbers in a list.
list1=[1,2,3,4,5,6,7]
var=reduce(lambda a,b:a*b)
print(var)

TypeError: reduce expected at least 2 arguments, got 1

In [103]:
#Use lambda with reduce() to find the product of numbers in a list.
from functools import reduce
list1=[1,2,3,4,5,6,7]
var=reduce(lambda a,b:a*b,list1)
print(var)

5040

In [101]:
from functools import reduce

list1 = [1, 2, 3, 4, 5, 6, 7]
var = reduce(lambda a, b: a * b, list1) #here we dint use function coverstion like list tuple
print(var)

5040

In [106]:
# Use lambda with map() to reverse each string in a tuple.
tup=("ananya","knanya","linanya","omnanya",)
var=tuple(map(lambda a:a[::-1],tup))
print(var)

('aynana', 'aynank', 'aynanil', 'aynanmo')