In [ ]:
Sum of all elements in a list

Find the maximum and minimum element in a list

Count occurrences of a specific element in a list

Check if a list is empty

Reverse a list without using built-in reverse()

Remove duplicates from a list while maintaining order

Find the second largest element in a list

Merge two lists into one

Find common elements between two lists

Check if a list is a palindrome

In [8]:
"""#Sum of all elements in a list
list1=[1,2,3,"hare rama","none",'google','@',23.3]
print (sum(list1))"""
#Above will give error because string and characters are mixed.........
list1=[1,2,3,23.3]
print (sum(list1))

29.3

In [9]:
sam=0
list1=[1,2,3,23.3]
for i in list1:
        sam=sam+i 
print(sam)

29.3

In [10]:
""" #Find the maximum and minimum element in a list
list2=[1,2,4,3,3,3,2,246556,654]
print (max(list2),min(list2))
"""
#Without using third variable ...
#for variable in sequence:
    # code to repeat
list2 = [1, 2, 3, 2, 2, 243, 5, 566, 2903, 0]

min_val = list2[0]
max_val = list2[0]

for temp_var in list2:
    if temp_var < min_val:
        min_val = temp_var
        print("New min found:", min_val)
    if temp_var > max_val:
        max_val = temp_var
        print("New max found:", max_val)

print("Final Minimum:", min_val)
print("Final Maximum:", max_val)

New max found: 2
New max found: 3
New max found: 243
New max found: 566
New max found: 2903
New min found: 0
Final Minimum: 0
Final Maximum: 2903

In [54]:
""" #Count occurrences of a specific element in a list
list3=[1,2,2,3,3,3,2,2,1,2,3,2,2]
#list3.count(2)
list3.count(3)"""

#Count occurrences of a specific element in a list without count method
list3=[1,2,2,3,3,3,2,2,1,2,3,2,2]
target=2
count=0
for num in list3:
    if num==target: #num is temporary variable here which matching trget count is counting items return
        count=count+1
print(target,count)

2 7

In [69]:
#Check if a list is empty
list4=[0]
var=len(list4)
print(var)
if var == 0:
    print("List is empty")
else:
    print("it is not")

1
it is not

In [24]:
list1 = [0]

if list1 == []:
    print("List is empty")
else:
    print("List is not empty")

List is not empty

In [15]:
#Reverse a list without using built-in reverse()
list5=[1,2,32,1,2,6]
#use slicing
list5[2::-1]

[32, 2, 1]

In [25]:
list1 = [1, 2, 3, 4, 5]
reversed_list = []

for i in list1:
    reversed_list = [i] + reversed_list  # put current element at the front

print(reversed_list)

[5, 4, 3, 2, 1]

In [87]:
#Remove duplicates from a list while maintaining order
list6=[1,2,32,1,2,6]
unique_list=[]
for item in list6:
    if item  not in unique_list:
        unique_list.append(item)
print(unique_list)

[1, 2, 32, 6]

In [93]:
#Remove duplicates from a list while maintaining order
list7=[1,2,32,1,2,6]
list7=list(set(list7))
print(list7)

[32, 1, 2, 6]

In [28]:
list6 = [1, 2, 32, 1, 2, 6]  # Original list with duplicates

# Loop over indices in reverse order (from last index to first)
for i in reversed(range(len(list6))):
    # Check if current element appears **earlier in the list**
    if list6[i] in list6[:i]:
        # If it does, delete it from the list
        del list6[i]

# Print the modified list (duplicates removed, order maintained)
print(list6)  # Output: [1, 2, 32, 6]

[1, 2, 32, 6]

In [103]:
#Find the second largest element in a list
list8=[1,2,32,1,2,6]
max_value=max(list8)
list8.remove(max_value)
print(max(list8))

6

In [36]:
list_=[1,2,32,1,2,6]
max1=0
max2=0
for i in list_:
    if i> max1:
        max1=i#32
print(f"first maximum is :{max1}")
if max1>max2:
    max2=max1
print(f"second maximun: {max2}")

first maximum is :32
second maximun: 32

In [104]:
#Merge two lists into one
list9=[1,2,32,1,2,6]
list10=[1,2,32,1,2,6]
list10.extend(list9)

In [105]:
print(list10)

[1, 2, 32, 1, 2, 6, 1, 2, 32, 1, 2, 6]

In [106]:
#Merge two lists into one
list9=[1,2,32,1,2,6]
list10=[1,2,32,1,2,6]
new_list=list9+list10
print(new_list)

[1, 2, 32, 1, 2, 6, 1, 2, 32, 1, 2, 6]

In [107]:
#Find common elements between two lists
list9=[1,2,32,1,2,6]
list10=[1,2,32,1,2,6]
list(set(list9) & set(list9))

[32, 1, 2, 6]

In [2]:
#Check if a list is a palindrome -- it is unchanged when reverse e.g madam
list9=['m','a','m']
list10=list9[::-1]
print(list10)
if list10 == list9:
    print("it is palindrome")
else:
    print("it is not")

['m', 'a', 'm']
it is palindrome

In [1]:
a=()#tuple
a=[]#list
a=[1,2,34]
a.append("add")
print(a)

[1, 2, 34, 'add']