In [1]:
set1={} #it is empty dictionary

In [2]:
type(set1)

dict

In [5]:
set2=set()

In [6]:
type(set2)

set

In [7]:
set1={1} #here is value 
type(set1)

set

In [8]:
set1={1,"moss-tech","2.3",4.5,12,"google"} #Collection on item stored in sinle variable ,And also unordered
set1

{1, 12, '2.3', 4.5, 'google', 'moss-tech'}

In [9]:
set1={1,"moss-tech","moss-tech","2.3",4.5,12,"google"}

In [10]:
set1 #only one mosstech will be print means it not printing duplicate values again and again

{1, 12, '2.3', 4.5, 'google', 'moss-tech'}

In [11]:
set1={1,"moss-tech","moss-tech","2.3",4.5,12,"google",12}
set1

{1, 12, '2.3', 4.5, 'google', 'moss-tech'}

In [12]:
set1={1,"moss-tech","moss-tech","2.3",4.5,12,"google",12,(2,3)} #Tuples are immutable
set1

{(2, 3), 1, 12, '2.3', 4.5, 'google', 'moss-tech'}

In [13]:
set1={1,"moss-tech","moss-tech","2.3",4.5,12,"google",12,(2,3),[1,2]} #List is mmutable
set1

TypeError: unhashable type: 'list'

# Adding Methods (2)
## add()
## update()

In [14]:
set1={1,"moss-tech","moss-tech","2.3",4.5,12,"google",12,(2,3)} 
set1.add(2)
set1

{(2, 3), 1, 12, 2, '2.3', 4.5, 'google', 'moss-tech'}

In [15]:
set1.add("jiohotstar",23) #Error
set1

TypeError: set.add() takes exactly one argument (2 given)

In [18]:
set1.update(1)
set1

TypeError: 'int' object is not iterable

In [ ]:
These are iterables: #iterable means which it can loop over through....

List → [1,2,3]

Tuple → (4,5,6)

String → "abc" (each letter is separate)

Set → {7,8,9}

Dictionary → {'a':1, 'b':2} (only keys get added)

In [23]:
set1.update(["divya","shivani"])
set1

{(2, 3), 1, 12, 2, '2.3', 4.5, 'divya', 'google', 'moss-tech', 'shivani'}

# Removing methods

# remove()

In [24]:
#{(2, 3), 1, 12, 2, '2.3', 4.5, 'divya', 'google', 'moss-tech', 'shivani'}
set1.remove(4.5)

In [25]:
set1

{(2, 3), 1, 12, 2, '2.3', 'divya', 'google', 'moss-tech', 'shivani'}

In [27]:
set1.remove(4.5) #Error because we have already removed
set1

KeyError: 4.5

## discard()

In [28]:
set1.discard(4.5) # No Error because we used discard
set1

{(2, 3), 1, 12, 2, '2.3', 'divya', 'google', 'moss-tech', 'shivani'}

## pop()

In [29]:
set1.pop(4.5) # Error because it takes no argument cause set are unordered
set1

TypeError: set.pop() takes no arguments (1 given)

In [30]:
set1.pop() 
set1

{(2, 3), 12, 2, '2.3', 'divya', 'google', 'moss-tech', 'shivani'}

## clear()

In [31]:
set1.clear() #Empty set
set1

set()

## del setname

In [35]:
del set1

In [36]:
set1

NameError: name 'set1' is not defined

# operations
## 1. Union ( | or union() )

In [48]:
set1={1,2,3,4,67}
set2={5,6,2,7}
set1|set2

{1, 2, 3, 4, 5, 6, 7, 67}

# 2. Intersection ( & or intersection() )

In [41]:
set1 & set2

{2}

# 3. Difference ( - or difference() )

In [43]:
set1 - set2 #first set element which is not similiar to other

{1, 3, 4}

# 4. Symmetric Difference ( ^ or symmetric_difference() )

In [44]:
set1 ^set2 ##print not similiar element from both of the set

{1, 3, 4, 5, 6, 7}

# 5. Subset (A ⊆ B) → issubset()
### 1. issubset()  set1.issubset(set2)
#### → All elements of set1 must be present in set2.
#### → Even one element missing = False.

In [56]:
set1={1,2,3,4,67}
set2={5,6,2,7}
set1.issubset(set2)
set1.issuperset(set2)

False

In [59]:
set1={1,2,3,4,67}
set2={1,2,0}
set1.issubset(set2)
set1.issuperset(set2)

False

In [64]:
set1={1,2,3,4,67}
set2={1,2,1}#here element should in firstset
set1.issuperset(set2)

True

## 6 .Disjoint → isdisjoint()
## Checks if sets have no common elements.

In [65]:
set1={1,2,3,4,67}
set2={1,2,1}# common elements are there.........
set1.isdisjoint(set2)

False

In [66]:
set1={1,2,3,4,67}
set2={7,9}# no common elements are there.........
set1.isdisjoint(set2)

True

# intersection() → gives new set (does not change original set).
# intersection_update() → updates the original set and keeps only common items.

In [84]:
set1={1,2,3,4,5,6}
set2={7,8,2,3,4}
set1.intersection_update(set2)
print(set1)

{2, 3, 4}

In [83]:
set1={1,2,3,4,5,6,2,3,11} #common from second set and remaining from sel1
set2={7,8,2,3,4,10,11}
set1.intersection(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 11}

# difference() → gives a new set (original not changed)
# difference_update() → updates original set by removing common elements

In [96]:
set1={1,2,3,4,5,6}
set2={7,8,2,3,4}
set1.difference(set2)

{1, 5, 6}

In [97]:
set1={1,2,3,4,5,6}
set2={7,8,2,3,4}
set1.difference_update(set2) #Removes elements found in another set.
print(set1)

{1, 5, 6}

In [98]:
set1={1,2,3,4,5,6}
set2={7,8,2,3,4}
set1.symmetric_difference_update(set2) #Keeps only elements not common in both sets.

In [100]:
print(set1)

{1, 5, 6, 7, 8}