# SET {} collection of unique elements unordered and dont allow duplicate and muttable
## A Python set is a collection of items with no order, no duplicates, and the set itself is mutable, but the items inside must be immutable.like int string
### You can change the set (mutable)
### Items inside cannot change (immutable items only)

In [29]:
set1={1,2,3} #empty set type will be dictionary cause dict comes first in python
set1.append("joker")
print(set1)
print(len(set1)) #len()
type(set1)

AttributeError: 'set' object has no attribute 'append'

In [5]:
s = {1, 2}
s.add("google") #change hot ahe mhnjech___________muttable
print(s)
google.add()

{1, 2, 'google'}

NameError: name 'google' is not defined

In [15]:
s = {1, 2,[4,5]}#list is muttable 
s
#A set can only hold things that cannot change (like numbers, strings, and tuples).
#It cannot hold things that can change (like lists or dictionaries).

TypeError: unhashable type: 'list'

In [ ]:
#here empty curly brackets wuth create dictinary so we have to use ()

In [25]:
set2=set() #set word and() for empty set
#set() looks like a function, but it is actually a built-in class (constructor) in Python.
print(set2)
type(set2)

set()
0

set

In [ ]:
#because  dictionary were introduced before set in python to mean empty dictionary...
#{}have 2 meaning when filled with elements they are set empty are dictionary
#set() it calls constructor and make new set object.......

# Muttable - change honare

In [ ]:
adding elements
remove discard
s.add -- add only 1 elements
s.update([2,3,2]) -- # add many
✅ Rule of thumb:
One item → use add()
Many items → use update() with an iterable

In [47]:
Ananya_Parlawar ={23,34,56}
#Ananya Parlawaradd("65")
Ananya_Parlawar.update([1,2,"pkd"])#update() → for many items (must be iterable) u have to use list
Ananya_Parlawar

{1, 2, 23, 34, 56, 'pkd'}

# Remove methods
### remove()	Removes a specific element; error if not found	s.remove(2)
### discard()	Removes a specific element; no error if not found	s.discard(2)
### pop()	Removes and returns a random element	s.pop()
### clear()	Removes all elements	s.clear()

In [61]:
set_1={1,2,3,4,5,6,67}
print(set_1)
set_1.add(4555556)
set_1.remove(6) #set.remove() takes exactly one argument (2 given)
print(set_1)
set_1.discard(100)#set.discard() takes exactly one argument
print(set_1)
set_1.pop() #set.pop() takes no arguments (1 given)
print(set_1)

{1, 2, 3, 4, 5, 6, 67}
{1, 2, 3, 4, 5, 67, 4555556}
{1, 2, 3, 4, 5, 67, 4555556}
{2, 3, 4, 5, 67, 4555556}

In [63]:
set_2={1,2,3,4,5,6,67}
set_2.clear()#set.clear() takes no arguments (1 given)
set_2

set()

# SET OPERATION + _|*

In [ ]:
1️⃣ Union (| or union())

In [83]:
set_3={1,2,3,4,5,6,67} # no change
set_4={"marry",45} # no change
set_3.union(set_4)#method doesnt update any sets just give new set-------
set5={090.23}

In [84]:
set_3|set_4|set5

{1, 2, 3, 4, 45, 5, 6, 67, 90.23, 'marry'}

In [ ]:
Intersection (& or intersection())

In [88]:
set_5={1,2,3,4,5,6,67} # no change
set_6={"marry",45,1,2} # no change
set_5.intersection(set_6) #Common items dete hi method

{1, 2}

In [89]:
set_5 & set_6 #intersection operation

{1, 2}

3️⃣ Difference (- or difference())
Keeps elements that are in the first set but not in the second.

In [92]:
set_5={1,2,3,4,5,6,67} # no chan
set_6={"marry",45,1,2} # no change
set_5.difference(set_6)#coomon vale delete krte ani je pahila set ahe tyache purn value ghete

{3, 4, 5, 6, 67}

In [93]:
set_5 - set_6

{3, 4, 5, 6, 67}

In [ ]:
4️⃣ Symmetric Difference (^ or symmetric_difference())
Keeps elements that are in either set, but not in both.

In [96]:
set_5={1,2,3,4,5,6,67} # no chan
set_6={"marry",45,1,2} # no change
set_5.symmetric_difference(set_6)#coomon vale delete krte ani donhi set che ahe tyache purn value ghete

{3, 4, 45, 5, 6, 67, 'marry'}

In [97]:
set_5 ^ set_6

{3, 4, 45, 5, 6, 67, 'marry'}

In [ ]:
5️⃣ Membership (in / not in)

Check if an element exists in a set.

In [101]:
set_5={1,2,3,4,5,6,67} # no chan
set_6={"marry",45,1,2} # no change
0 not in set_5

True

In [ ]:
isdisjoint()	Checks if two sets have no common elements	s1.isdisjoint(s2) → True/False
issubset()	Checks if all elements of one set are in another	s1.issubset(s2) → True/False
issuperset()	Checks if a set contains all elements of another	s1.issuperset(s2) → True/False

In [103]:
set_5={1,2,3,4,5,6,67} # no chan
set_6={"marry",45,1,2} # no change
set_5.isdisjoint(set_6) #common nahi pahije

False

In [112]:
set_5={1,2,3,4,5,6,6} # sett
set_6={1,2,3,1} #subset
set_5.issubset(set_6)

True

In [121]:
set_5={1,2,342,32,232424,} #supersett
set_6={1,2,3} #subset
set_5.issuperset(set_6)

{1, 2, 32, 342, 232424}

In [ ]:
difference_update(other_set)	Removes elements found in another set	s1.difference_update(s2)
symmetric_difference_update(other_set)	Keeps elements in either set but not both	s1.symmetric_difference_update(s2)

In [ ]:
Original set_5 = {1, 2, 342, 32, 232424}

Original set_6 = {1, 2, 3, 4}

Common elements = {1, 2}

{1, 2, 3, 4}

{32, 342, 232424}

In [126]:
set_5={1,2,342,32,232424,} #supersett
set_6={1,2,3,4,} #subset
set_5.intersection_update(set_6)#print liha lagte
print(set_6)
set_5

{1, 2, 3, 4}

{1, 2}

In [125]:
set_5={1,2,342,32,232424,} #supersett
set_6={1,2,3,4,} #subset
set_5.difference_update(set_6)#print liha lagte
print(set_6)
set_5

{1, 2, 3, 4}

{32, 342, 232424}

In [129]:
set_5={1,2,342,32,232424,} #supersett
set_6={1,2,3,4,} #subset
set_7=set_5.copy()
set_5.symmetric_difference_update(set_6)#print liha lagte
print(set_6)
print(set_7)
set_5

{1, 2, 3, 4}
{32, 1, 2, 342, 232424}

{3, 4, 32, 342, 232424}

In [23]:
list2=[2,3,4,5] # methods-person object use / function-sarvjanik ahe
list2.append("addeed") #method
print(list2)
len(list2)     #function

[2, 3, 4, 5, 'addeed']

5

In [10]:
dic1={"key":"value"}
print(type(dic1))

<class 'dict'>

In [ ]:
The elements inside a set must be immutable (like numbers, strings, or tuples).
You can’t put lists or dictionaries inside a set because they can change.

In [11]:
set1={1,2,3,4,5}
print(1 in set1)

True

In [12]:
set1={1,2,3,4,5}
set2={6,7,8,3}
set2.update(set1)
print(set2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [16]:
# set1.discard(3) # To remove elemtents in set{}..............
# set1.pop()# it will remove any random value..............
# set1.remove(5)
# set1.clear()
# del set1

In [18]:
print(set1)

{4}

In [23]:
set_={1,2,34,545,6}
set_2={"hello"}
set_3={"samiksha"}
set_.union(set_2)
a1=set_.union(set_2,set_3)

In [24]:
print(a1)

{1, 2, 34, 545, 6, 'hello', 'samiksha'}