## Create a tuple with five elements and print it.

## Find the length of a tuple without using len().

## Access the first and last elements of a tuple. //can asked about middle elemnt also

## Check if a particular element exists in a tuple.

## Concatnate two tuple

## Repeat a tuple three times.

## Convert a tuple to a list and back to a tuple.

## Find the index of an element in a tuple.

## Count how many times a value appears in a tuple.

## Create a tuple with different data types (int, string, float, list, etc.).

In [1]:
tup=(3,2,3,89,4,5)
tup

(3, 2, 3, 89, 4, 5)

In [2]:
len(tup)

6

In [3]:
#Find the length of a tuple without using len().
count=0
for i in tup:
    if count<i:
        count=count+1
print(count)

5

In [7]:
#Access the first and last elements of a tuple.

In [4]:
print(tup[0],tup[-1])
middle_index = len(tup) // 2
print(middle_index)
tup[middle_index]

3 5
3

89

In [17]:
first=0
last=0
for i in tup:
    if first<i:
        first=first+i
        break
print(first)
for i in tup:
    last=i
print(last)

3
5

In [ ]:
#Check if a particular element exists in a tuple.

In [19]:
inp=int(input("enter the number of your choice: "))
if inp in tup:
    print(inp,"present in the tuple")
else:
    print("number is not there")

enter the number of your choice:  98

number is not there

In [41]:
#other way
inp=int(input("enter the num : "))

enter the num :  3

In [42]:
found = False

for i in tup:
    if i == inp:
        found = True
        break

if found:
    print(inp, "is present in the tuple.")
else:
    print(inp, "is not present in the tuple.")

3 is present in the tuple.

In [64]:
#concatenate two tuples into one.
new=(1,2,2,2,23,990)
old=("mango","apple","banana")
print(new+old)

(1, 2, 2, 2, 23, 990, 'mango', 'apple', 'banana')

In [72]:
#Repeat a tuple three times.
#new*3
count=0
for i in new:
    count<5
    count=count+1
    print(new)

(1, 2, 2, 2, 23, 990)
(1, 2, 2, 2, 23, 990)
(1, 2, 2, 2, 23, 990)
(1, 2, 2, 2, 23, 990)
(1, 2, 2, 2, 23, 990)
(1, 2, 2, 2, 23, 990)

In [73]:
#Convert a tuple to a list and back to a tuple.
list(new)
tuple(new)

(1, 2, 2, 2, 23, 990)

In [74]:
#Find the index of an element in a tuple.
#.index(30) is a tuple method that searches the tuple for the value 30
new.index(2)

1

In [82]:
#Count how many times a value appears in a tuple.
count=0
target=2
for i in new:
    if i==target:
        count+=1

print(count)

3

In [ ]:
#Create a tuple with different data types (int, string, float, list, etc.).

In [84]:
new_tup=(1,2,"these is string",12.02,[1,23])
new_tup

(1, 2, 'these is string', 12.02, [1, 23])

In [ ]:
ðŸŸ¡ Intermediate Tuple Questions

Slice a tuple to get a sub-tuple (use positive and negative indexing).

Iterate through a tuple and print each element.

Tuple unpacking: assign elements to variables.

Nested tuple: access elements inside a nested tuple.

Use enumerate() to loop through a tuple with index.

Convert a tuple to a dictionary (tuple contains pairs).

Sort a tuple (create a new sorted tuple).

Find min, max, and sum of numeric tuple elements.

Reverse a tuple (without converting to a list).

Compare two tuples to see which is â€œgreaterâ€ (lexicographically).

In [93]:
# Master tuple for practice
master_tuple = (10, 20, 30, 40, 50, "Hello", 3.14, [1, 2, 3], (60, 70), "World", 20)a
#Slice a tuple to get a sub-tuple (use positive and negative indexing).
master_tuple[3:-1],master_tuple[5:-1]

((40, 50, 'Hello', 3.14, [1, 2, 3], (60, 70), 'World'),
 ('Hello', 3.14, [1, 2, 3], (60, 70), 'World'))

In [95]:
#Iterate through a tuple and print each element.
for item in master_tuple:
    print(master_tuple)# print(if use item only ten print)
    break

10

In [100]:
#Tuple unpacking: assign elements to variables.
#What is Tuple Unpacking?
#Tuple unpacking means taking each element of a tuple and putting it into separate variables in one line.
Ways to unpack a tuple:
Basic unpacking
Using * to grab remaining elements
Nested tuple unpacking
Swapping variables
Partial unpacking using _
Unpacking in loops

Hello

In [101]:
var1=master_tuple[5]#using index
print(var1)

Hello

In [ ]:
#master_tuple = (10, 20, 30, 40, 50, "Hello", 3.14, [1, 2, 3], (60, 70), "World", 20)

In [109]:
#a,b=master_tuple #tomany values to unpack means we need equal variable and element in this case we used star
a,*b=master_tuple
c=tuple(b)
print(a,b,c)

10 [20, 30, 40, 50, 'Hello', 3.14, [1, 2, 3], (60, 70), 'World', 20] (20, 30, 40, 50, 'Hello', 3.14, [1, 2, 3], (60, 70), 'World', 20)

In [117]:
#Nested tuple: access elements inside a nested tuple.
master_tuple[8][1]
_,v=master_tuple[8]
print(v)

70

In [123]:
# Use enumerate() to loop through a tuple with index.
#enumerate() gives both index and value while looping.
#Use it when you need to know the position of each item
for index ,value in enumerate(master_tuple):
    print(index,value)

0 10
1 20
2 30
3 40
4 50
5 Hello
6 3.14
7 [1, 2, 3]
8 (60, 70)
9 World
10 20

In [ ]:
#Convert a tuple to a dictionary (tuple contains pairs)
D

In [ ]:
ictionary(master_tuple)

NameError: name 'Dictionary' is not defined

In [139]:
#Sort a tuple (create a new sorted tuple).
new_tuple=(1,2,45,3,4,5,6,7)
sorted_=tuple(sorted(new_tuple))
new_tuple
print(sorted_)

(1, 2, 3, 4, 5, 6, 7, 45)

In [145]:
t = (3, 1, 2,4)
sorted_tuple = tuple(sorted(t))
print(sorted_tuple)

(1, 2, 3, 4)

In [140]:
#Find min, max, and sum of numeric tuple elements.
M=max(t)
M

3

In [141]:
m=min(t)
m

1

In [143]:
s=sum(t)
s

6

In [4]:
t = (3, 1, 2,4)
TM=0
tm=0
for i in t:
    if i>TM:
        TM=i
print(TM,tm)

4 2

In [2]:
# Reverse a tuple (without converting to a list).
t = (3, 1, 2,4)
t[::-1]

(4, 2, 1, 3)

In [5]:
# Compare two tuples to see which is â€œgreaterâ€ (lexicographically).
t = (3, 1, 2, 4)
t1 = (3, 1, 2, 4, 5, 6, 7, 8)

if t1 > t:
    print(t1, "IS GREATER")
else:
    print(t, "IS GREATER")

(3, 1, 2, 4, 5, 6, 7, 8) IS GREATER

In [ ]:
ðŸ”´ Advanced / Interview-Focused Questions

Remove duplicates from a tuple.

Merge multiple tuples into one.

Count the frequency of all elements in a tuple.

Check if a tuple is palindrome (same forwards and backwards).

Convert a list of tuples into a tuple of lists.

Use tuple for swapping variables without a temporary variable.

Flatten a nested tuple (tuple inside tuple).

Implement tuple slicing manually without : operator.

Use tuples as keys in a dictionary and explain why it works.

Difference between a tuple and a list: explain immutability with examples.

In [1]:
# Remove duplicates from a tuple.

In [18]:
# Remove duplicates from a tuple.
t=(3, 1, 2,2,2,33,0,3,3, 4, 5, 6, 7, 8)
unique_value=[]
for i in t:
    if i  not in unique_value:
        unique_value.append(i)
print(tuple(unique_value))

(3, 1, 2, 33, 0, 4, 5, 6, 7, 8)

In [31]:
âœ… Tuples in Python are immutable

You cannot change a tuple after creating it.

You cannot add, remove, or update items inside a tuple.

So duplicates cannot be removed inside the same tuple.

8

In [58]:
#Merge multiple tuples into one.
t=(3, 1, 2, 33, 0, 4, 5, 6, 7, 8)
p=(0,0,0)
print(t+p)
merged = sum((t, p), ())
print(merged)

(3, 1, 2, 33, 0, 4, 5, 6, 7, 8, 0, 0, 0)
(3, 1, 2, 33, 0, 4, 5, 6, 7, 8, 0, 0, 0)

In [47]:
#Unpacking
merge=(*t,*p)
merge

(3, 1, 2, 33, 0, 4, 5, 6, 7, 8, 0, 0, 0)

In [81]:
#Count the frequency of all elements in a tuple.
#Frequency means â†’ how many times each element appears.
t=(3, 3,1, 2, 33, 0, 4, 5, 6, 7, 8)
for target in t:
    count=0
    
    for i in t:
        if i == target:
            count=count+1
        
    print(target,"number occurs this much times-",count) #this should uder for else see below what happeened..................

3 number occurs this much times- 2
3 number occurs this much times- 2
1 number occurs this much times- 1
2 number occurs this much times- 1
33 number occurs this much times- 1
0 number occurs this much times- 1
4 number occurs this much times- 1
5 number occurs this much times- 1
6 number occurs this much times- 1
7 number occurs this much times- 1
8 number occurs this much times- 1

In [128]:
t = (3, 3, 1, 2, 33, 0, 4, 5, 6, 7, 8)

for target in t:        # take each element as target
    count = 0           # reset count every time

    for i in t:         # check how many times target appears
        if i == target:
            count = count + 1

    print(target, "occurs", count, "times")

3 occurs 2 times
3 occurs 2 times
1 occurs 1 times
2 occurs 1 times
33 occurs 1 times
0 occurs 1 times
4 occurs 1 times
5 occurs 1 times
6 occurs 1 times
7 occurs 1 times
8 occurs 1 times

In [93]:
# Check if a tuple is palindrome (same forwards and backwards).
#t = (M,A,M) #it is taking them as variable not chracter missing ''
t = ('M','A','M') #it is taking them as variable not chracter missing ''
pali=t[::-1]
if pali == t:
    print("it is palindrone")
else:
    print("it is not palindrone")

it is palindrone

In [95]:
#Convert a list of tuples into a tuple of lists.
list1=[(3, 3, 1, 2, 33, 0, 4, 5, 6, 7, 8),(2,3,4)]
tuple([list(x) for x in list1])

([3, 3, 1, 2, 33, 0, 4, 5, 6, 7, 8], [2, 3, 4])

In [97]:
#use tuple for swapping variables without a temporary variable.
a=(2)
b=(3)
a,b=b,a
print(a,b)

3 2

In [102]:
a=(2)
b=(3)
temp=(a,)
a=b
b=temp[0]

print(a,b)

3 2

In [101]:
a = 2
b = 3

temp = (a,)   # store a inside a tuple
a = b
b = temp[0]   # take value back from tuple

print(a, b)

3 2

In [121]:
#Implement tuple slicing manually without : operator.
t=(1,23,43,23,21,12)

start=2 #indexes
end=4     #index

result = ()

for i in range(start, end):
    result=result+(t[i],)
    
print(result)

(43, 23)

In [125]:
#Use tuples as keys in a dictionary and explain why it works.
dic={(1,2):"hey",(2,8):"hey",(3):"hey",}
dic
#because tuples are immutable and key in the dic is also immutable thats why it is working

{(1, 2): 'hey', (2, 8): 'hey', 3: 'hey'}

In [129]:
#Difference between a tuple and a list: explain immutability with examples.
#Use tuples as keys in a dictionary and explain why it works.
dic={(1,2):"hey",(2,8):"hey",(3):"hey",}
dic
#because tuples are immutable and key in the dic is also immutable thats why it is working

{(1, 2): 'hey', (2, 8): 'hey', 3: 'hey'}

Boy reached stair 1
Boy reached stair 2
Boy reached stair 3
Boy reached stair 4
Boy reached stair 5