In [3]:
#print 1 to 10
num=10
i=0
while i<=num:
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9
10

In [7]:
#2. Print even numbers from 2 to 20
even=2
while even<=20:
    if even%2==0:
        print(even)
    even=even+1 #---------->make outside the if condition

2
4
6
8
10
12
14
16
18
20

In [8]:
#2. Print odd numbers from 2 to 100
odd=2
while odd<=100:
    if odd%2!=0:
        print(odd)
    odd=odd+1

3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [ ]:
#4 find the sum of 1 to 50
i=1
total=0
while i<=50:
    total=total+i
print(total)

In [1]:
i = 1
total = 0

while i <= 50:
    total += i
    i += 1

print(total)

1275

In [5]:
#✅ 4. Reverse a number
#Example: input = 123 → output = 321
inp=123
rev=0
i=0
while

136

In [2]:
num = 123
rev = str(num)[::-1]
print(rev)

321

In [3]:
num = 34567
rev = 0

while num > 0:
    digit = num % 10      #get last digit trick it will give remainder as last digit of code
    rev = rev * 10 + digit
    num = num // 10     # remove last digit

print(rev)

76543

In [1]:
num = 34567
s = str(num)
rev = ""

i = 0
while i < len(s):
    rev = s[i] + rev
    i += 1
print(int(rev))

76543

In [ ]:
num=8374260
rev=0
while num>0:
    digit=num%10
    rev=rev*10+digit
    #num=num//10
print(rev)

In [ ]:
num = 34567
rev = 0

while num > 0:
    digit = num % 10      #get last digit trick it will give remainder as last digit of code
    rev = rev * 10 + digit
    num = num // 10     # remove last digit

print(rev)

In [ ]:
num = 357327
count = 0

while num > 0:
    count = count + 1
    num = num // 10   # remove last digit

print("Total digits =", count)

In [ ]:
Print numbers from 1 to 10 using a while loop.

Print even numbers from 2 to 20.

Print odd numbers from 1 to 15.

Print the sum of numbers from 1 to 10.

Print each character of a string using a while loop.

Count how many digits are in a number using while loop.

Reverse a number using while loop.

Print the table of 5 using while loop.

Print numbers from 10 to 1 (reverse counting).

Keep asking user input until they type "stop".

In [2]:
# Print numbers from 1 to 10 using a while loop.
n=1
while n<=10:
    print(n)
    n=n+1

1
2
3
4
5
6
7
8
9
10

In [1]:
# Print even numbers from 2 to 20.
n=0
while n<=21:
    if n%2==0:
        print(n)
    n=n+1

0
2
4
6
8
10
12
14
16
18
20

In [3]:
#Print odd numbers from 1 to 15.
n=1
while n<=15:
    if n%2!=0:
        print(n)
    n=n+1

1
3
5
7
9
11
13
15

In [4]:
#Print the sum of numbers from 1 to 10.
n=1
i=0
while n<=10: ## wrong 
   i=n
   n=n+i
n=n+1
print(n)

17

In [2]:
n = 1
i = 0

while n <= 10:
    i = i + n     # i will store the sum
    n = n + 1     # move to next number

print(i)

55

In [17]:
sum=0
for num in range(1,11):
    sum=sum+num
print(sum)

55

In [5]:
n=1
sum=0
while n<=10:
    sum=sum+n
    n=n+1
print(sum)

55

In [ ]:
str variable name (NOT recommended)	s (str is a Python keyword)
print(i)	print(s[i]) (print character)
<= len(str)	< len(s) (valid index range)

In [19]:
#Print each character of a string using a while loop.
s='hey there how are you'
i=0
while i<len(s):
    print(s[i],end=" ")
    i=i+1

h e y   t h e r e   h o w   a r e   y o u

In [23]:
s='hey there how are you'
for i in s:
    print(i,end=" ")

h e y   t h e r e   h o w   a r e   y o u

In [2]:
# Count how many digits are in a number using while loop.
num=72389123
count=0
while num>0:
    num=num//10
    count=count+1
print(count)

8

In [6]:
num=45678
a=str(num)
count=0
while count<len(a):
     count=count+1
print(count)

5

In [10]:
num=393481180
a=str(num)
count=0
for i in a:
    count=count+1
print(count)

9

In [12]:
num=393481180
a=str(num)
count=0
for i in a:
    b=len(a)
print(b) # in string

9

In [16]:
#Reverse a number using for loop.
num=6272719
b=str(num)
rev=""
for i in b:
    rev=b[::-1]
print(rev)

9172726

In [2]:
num=6272719
b=str(num)
rev=""
for i in b:
    rev=i+rev
print(rev)

9172726

In [3]:
#Reverse a number using while loop.
num=789796
b=str(num)
rev=""
while num>0:
    rev=b[::-1]
print(rev)

KeyboardInterrupt:

In [1]:
print("hello")

hello

In [5]:
#Reverse a number using while loop.
num=789796
b=str(num)
rev=""
i=0
while i <len(b):
    rev=b[i]+rev
    i=i+1
print(rev)

697987

In [4]:
num = 6272719
b = str(num)
rev = ""

i = 0
while i < len(b):
    rev = b[i] + rev
    i = i + 1

print(rev)

9172726

In [6]:
num = 6272719
b = str(num)
rev = ""

i = 0
while i < len(b):
    rev = b[::-1]
    i = i + 1

print(rev)

9172726

In [19]:
#Print the table of 5 using while loop.
num=5
rang=10
i=1
while i <=rang:
    multiply=num*i
    i=i+1
    print(multiply)

5
10
15
20
25
30
35
40
45
50

In [2]:
start=1
end=10
while start<=end:
    i=1
    while i <=10:
        multiply=start*i
        print(multiply)
        i=i+1
    print()
    start=start+1

1
2
3
4
5
6
7
8
9
10

2
4
6
8
10
12
14
16
18
20

3
6
9
12
15
18
21
24
27
30

4
8
12
16
20
24
28
32
36
40

5
10
15
20
25
30
35
40
45
50

6
12
18
24
30
36
42
48
54
60

7
14
21
28
35
42
49
56
63
70

8
16
24
32
40
48
56
64
72
80

9
18
27
36
45
54
63
72
81
90

10
20
30
40
50
60
70
80
90
100

In [ ]:
num=5
for i in range(1,11):
    multiply=num*i
    print(multiply)

In [1]:
num = 1          # start table number
end = 10         # end table number

while num <= end:
    i = 1
    while i <= 10:
        print(num * i)
        i = i + 1
    print()      # blank line after each table
    num = num + 1

1
2
3
4
5
6
7
8
9
10

2
4
6
8
10
12
14
16
18
20

3
6
9
12
15
18
21
24
27
30

4
8
12
16
20
24
28
32
36
40

5
10
15
20
25
30
35
40
45
50

6
12
18
24
30
36
42
48
54
60

7
14
21
28
35
42
49
56
63
70

8
16
24
32
40
48
56
64
72
80

9
18
27
36
45
54
63
72
81
90

10
20
30
40
50
60
70
80
90
100

In [21]:
for num in range(1,11):
    for i in range(1,11):
        multiply=num*i
        print(multiply,end="\t") #\t = tab space
    print()

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100

In [4]:
num=1
end=10

while num<=end:
    i = 1
    while i<=10:
        mul=num*i
        print(mul,end="\t")# --------table space
        i=i+1
    print()
    num=num+1

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100

In [ ]:
num = 1          # start table number
end = 10         # end table number

while num <= end:
    i = 1
    while i <= 10:
        print(num * i)
        i = i + 1
    print()      # blank line after each table
    num = num + 1

In [10]:
num=5
for i in range(1,11):
    print(num,"*",i,"=",num*i)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [13]:
num=5
end=10
i=0 #Declare id compulsory 
while i<=end:
    print(num,"*",i,"=",num*i)
    i=i+1

5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [24]:
#Print numbers from 10 to 1 (reverse counting).
rev=""
for i in range(1,11):
    print(i,end=" ")
    a=str(i) #converted integer ino string first
    rev=a+rev
print(rev)

1 2 3 4 5 6 7 8 9 10 10987654321

In [3]:
#Print numbers from 10 to 1 (reverse counting).
num=1
i=0
rev=""
while i<10:
    #print(i,end="")
    i=i+1
    a=str(i)
    rev=a+rev
print(rev)

10987654321

In [ ]:
#Keep asking user input until they type "stop".

In [10]:
stri=input("enter some input but make sure if u type stop we will no more take responses")
for i in stri: #stri will contain one single input only
    if i=="stop" or i=='STOP':
        print("you have stopped the loop")
        break

enter some input but make sure if u type stop we will no more take responses hi

In [12]:
stri=input("enter some input but make sure if u type stop we will no more take responses")
for i in range(1902):
    user=input("enter some input but make sure if u type stop we will no more take responses")
    if user=="stop" or user=='STOP':
        print("you have stopped the loop")
        break

enter some input but make sure if u type stop we will no more take responses hi
enter some input but make sure if u type stop we will no more take responses hx
enter some input but make sure if u type stop we will no more take responses stop

you have stopped the loop

In [14]:
i=0
while i <=1000:
    user=input("enter ip")
    i=i+1
    if user=="stop" or user=="Stop":
        print("you have stopped the loop")
        break

enter ip hid
enter ip dfer
enter ip ede
enter ip eewd
enter ip eew
enter ip edw
enter ip Stop

you have stopped the loop

In [ ]:
try:
    a = int(input())
    b = int(input())
    print(a / b)
except ZeroDivisionError:
    print("Cannot divide by zero")
except ValueError:
    print("Only numbers allowed")