In [3]:
a=0
while a<=31:
    print(a ,end=",")
    a=a+1

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,

In [7]:
a="AISHWARYA"
i=0
while i<len(a):
    print(a[i], end=",")
    i=i+1

A,I,S,H,W,A,R,Y,A,

In [8]:
a = 5
b = "mangesh"

i = 0
while i < len(b):
    a = a + 1
    print("output", b[i], a, b)
    i += 1

output m 6 mangesh
output a 7 mangesh
output n 8 mangesh
output g 9 mangesh
output e 10 mangesh
output s 11 mangesh
output h 12 mangesh

In [14]:
;num=5
fact=1
while num>=1:
    fact=fact*num
    print(fact)
    num=num-1

5
20
60
120
120

In [16]:
a=[1,2,3,4,5,5]
i=1
while i<len(a):
    print(i)
    i=i+1

1
2
3
4
5

In [ ]:
#make list items as an key of dictionary
#count values that how many time it appears in code and add in dictionary as a value...

In [27]:
l = [1,2,3,4,5,63,5,6,6,4,345,60,90]

i = 0
d = {}

while i < len(l):
    a = l.count(l[i])      # count how many times current item appears
    d[l[i]] = a            # make item as key and count as value
    i += 1

print(d)

{1: 1, 2: 1, 3: 1, 4: 2, 5: 2, 63: 1, 6: 2, 345: 1, 60: 1, 90: 1}

In [33]:
s = "my mail is aishwaryazade24@gmail.com please note"

i = 0
email = ""        # not a loop variable, just collecting characters
start = False     # tells when email started

while i < len(s):

    if s[i] == "@":          # email definitely starts here
        start = True

        # go backward using i to find the first letter of email
        while s[i] != " ":
            i -= 1
        i += 1               # move to first email character

        # now print forward full email
        while i < len(s) and s[i] != " ":
            email += s[i]
            i += 1
        break

    i += 1

print(email)

aishwaryazade24@gmail.com

In [34]:
i = 1
while i <= 5:
    print("*" * i)
    i += 1

*
**
***
****
*****

In [35]:
count = 0
vowels = ('a','e','i','o','u')
str_input = input("enter the string input :")

i = 0
while i < len(str_input):
    if str_input[i].lower() in vowels:
        count += 1
        print(str_input[i], count)
    i += 1

enter the string input : hello

e 1
o 2

In [ ]:
# Input
name1 = input()
dob1 = input()   # DD-MM-YYYY

name2 = input()
dob2 = input()   # DD-MM-YYYY

# Split DOB using while loop
def split_dob(d):
    part = ["", "", ""]
    i = 0
    p = 0
    
    while i < len(d):
        if d[i] == "-":
            p += 1
        else:
            part[p] += d[i]
        i += 1
    
    # convert to integer
    return int(part[0]), int(part[1]), int(part[2])   # day, month, year

d1, m1, y1 = split_dob(dob1)
d2, m2, y2 = split_dob(dob2)

# Comparison logic
# Younger person → LATER date (greater year/month/day)

younger = ""

# Compare year
if y1 > y2:
    younger = name1
elif y2 > y1:
    younger = name2
else:
    # Year equal → compare month
    if m1 > m2:
        younger = name1
    elif m2 > m1:
        younger = name2
    else:
        # Month equal → compare day
        if d1 > d2:
            younger = name1
        elif d2 > d1:
            younger = name2
        else:
            # Same DOB → alphabetical order
            if name1 < name2:
                younger = name1
            else:
                younger = name2

print(younger)

In [38]:
n = int(input("Enter a number greater than 1: "))

i = 2          # start checking from 2
is_prime = True

while i < n:
    if n % i == 0:
        is_prime = False
        break
    i += 1

if is_prime:
    print("PRIME")
else:
    print("NOTPRIME")

Enter a number greater than 1:  6

NOTPRIME

In [39]:
s1 = input("Enter first string: ")
s2 = input("Enter second string: ")

i = 0
result = ""

while i < len(s2):
    
    if s2[i] not in s1:     # keep character only if NOT in first string
        result += s2[i]
    
    i += 1

print(result)

Enter first string:  asdfgh
Enter second string:  dfgukjhgf

ukj

In [40]:
for i in range(1,100):
    print(i)
    if i >= 15:
        break
    else:
        pass

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [45]:
listt = [1,2,3,4,5,6,7,8,9,10,11]

# Count odd
count_odd = 0
i = 0

while i < len(listt):
    if listt[i] % 2 != 0:
        count_odd += 1
    i += 1

print(count_odd)

# Count even
count_even = 0
i = 0

while i < len(listt):
    if listt[i] % 2 == 0:
        count_even += 1
    i += 1

print(count_even,count_odd)

6
5 6

In [46]:
user_input = int(input("Enter the number: "))

i = 1

while i <= 10:
    multiplication = user_input * i
    print(user_input, "*", i, "=", multiplication)
    i += 1

Enter the number:  5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [47]:
str1 = "myname"
rev = ""

i = 0
while i < len(str1):
    rev = str1[i] + rev
    i += 1

print(rev)

emanym

In [48]:
num = [1,2,3,4,5,6,7,8,9,8]

max_num = num[0]   # start with first element
i = 0

while i < len(num):
    if num[i] > max_num:
        max_num = num[i]
    i += 1

print(max_num)

9

In [49]:
str1 = "hey there"
vowels = ['a','e','i','o','u']
count = 0

i = 0
while i < len(str1):
    if str1[i].lower() in vowels:
        count += 1
        print(str1[i])
    i += 1

print("Total vowels:", count)

e
e
e
Total vowels: 3

In [50]:
sum1 = 0
i = 1

while i <= 50:
    sum1 += i
    i += 1

print(sum1)

1275

In [51]:
name = "aishwarya zade"
n = 5

i = 0
while i < n:
    print(name)
    i += 1

aishwarya zade
aishwarya zade
aishwarya zade
aishwarya zade
aishwarya zade

In [1]:
num = 1

while num <= 10:
    i = 1
    print("Table of", num)

    while i <= 10:
        multiply = num * i
        print(multiply)
        i = i + 1

    print()    # empty line between tables
    num = num + 1

Table of 1
1
2
3
4
5
6
7
8
9
10

Table of 2
2
4
6
8
10
12
14
16
18
20

Table of 3
3
6
9
12
15
18
21
24
27
30

Table of 4
4
8
12
16
20
24
28
32
36
40

Table of 5
5
10
15
20
25
30
35
40
45
50

Table of 6
6
12
18
24
30
36
42
48
54
60

Table of 7
7
14
21
28
35
42
49
56
63
70

Table of 8
8
16
24
32
40
48
56
64
72
80

Table of 9
9
18
27
36
45
54
63
72
81
90

Table of 10
10
20
30
40
50
60
70
80
90
100

In [ ]:
Remove duplicates from a list and create a tuple and find the minimum and maximum number
sample_list = [87, 45, 41, 65, 94, 41, 99, 94]
Expected Outcome:
unique items [87, 45, 41, 65, 99]
tuple (87, 45, 41, 65, 99)
min: 41
max: 99"""

In [10]:
sample_list = [87, 45, 41, 65, 94, 41, 99, 94]
unique=[]
for i in sample_list:
    if i not in unique:
        unique.append(i)
print(unique)
a=tuple(unique)
max=0
min=[0]
for i in a:
    if i >max:
        max=i
print(i)

for i in a:
    if i<min:
        min=i
print(i)

[87, 45, 41, 65, 94, 99]
99

TypeError: '<' not supported between instances of 'int' and 'list'

In [13]:
sample_list = [87, 45, 41, 65, 94, 41, 99, 94]

# ---------- Remove duplicates ----------
unique = []

i = 0
while i < len(sample_list):
    if sample_list[i] not in unique:
        unique.append(sample_list[i])
    i = i + 1

print("unique items", unique)

# ---------- Convert to tuple ----------
t = tuple(unique)
print("tuple", t)

# ---------- Find min & max using while loop ----------

# initialize
min_val = t[0]
max_val = t[0]

j = 0
while j < len(t):
    if t[j] < min_val:
        min_val = t[j]
    if t[j] > max_val:
        max_val = t[j]
    j = j + 1

print("min:", min_val)
print("max:", max_val)

unique items [87, 45, 41, 65, 94, 99]
tuple (87, 45, 41, 65, 94, 99)
min: 41
max: 99

In [14]:
i = 0
previous = 0

print("Printing current and previous number sum in a range(10)")

while i < 10:
    current = i
    sum_val = current + previous

    print("Current Number", current, "Previous Number ", previous, " Sum: ", sum_val)

    previous = current   # update previous for next iteration
    i = i + 1

Printing current and previous number sum in a range(10)
Current Number 0 Previous Number  0  Sum:  0
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17