## Integer to String Conversion

In [24]:
variable1=12
print (type(variable1))
variable1= str(variable1)
print (variable1 , type(variable1))

<class 'int'>
12 <class 'str'>

## Float to Integer

In [27]:
variable2=4.5
print (type(variable2))
variable2 =int(variable2)
print (variable2 , type(variable2))

<class 'float'>
4 <class 'int'>

## String in decimal to integer

In [29]:
variable3="2.3"
print(type(variable3))
variable3= int(variable3)
print (variable3 , type(variable3))

<class 'str'>

ValueError: invalid literal for int() with base 10: '2.3'

####  int() expects a string that exactly looks like a whole number (like "2", "10", "-5").
#### "2.3" has a decimal point, so it’s not a valid literal for an integer in base 10.

In [ ]:
# ----How to convert String in decimal to Integer?
"""firstly make that str float and convert into a integer..."""

In [33]:
variable3="2.3"
print(type(variable3))
variable3= float(variable3) # Note-here mistaken one comma can make it tuple
print (variable3 , type(variable3))
variable3=int(variable3)
print (variable3 , type(variable3))

<class 'str'>
2.3 <class 'float'>
2 <class 'int'>

## String To Integer

In [42]:
variable4 ="hey"
print (type(variable4))
       variable4 = int(variable4)
print (type(variable4))

IndentationError: unexpected indent (2194186087.py, line 3)

In [ ]:
#IndentationError: unexpected indent beacuse of space in line 3 before variable4

In [43]:
variable4 ="hey"
print (type(variable4))
variable4 = int(variable4)
print (type(variable4))

<class 'str'>

ValueError: invalid literal for int() with base 10: 'hey'

In [ ]:
# python cannot convert string "word" into integer it will throw error

## String to booelan

In [45]:
variable5="True"
print (type(variable5))
variable5= bool(variable5)
print (variable5 ,type(variable5))

<class 'str'>
True <class 'bool'>

In [54]:
variable5="make "
print (type(variable5))
variable5= bool(variable5)
print (variable5 ,type(variable5))

<class 'str'>
True <class 'bool'>

In [ ]:
# It is shpwing true because python evaluates an any string value "hey" /"make" as true an any non empty values
# It makes empty  values false even you gave space it will give true.

In [8]:
a=bool(0)
print(a)
a=bool(-0)
print(a)
a=bool(21)
print(a)

False
False
True

In [ ]:
#beacuse if 0 and empty then its false else true

## String to complex

In [59]:
variable6="19"
print (type(variable6))
variable6= complex(variable6)
print (variable6 ,type(variable6))
print (variable6.real)
print (variable6.imag)

<class 'str'>
(19+0j) <class 'complex'>
19.0
0.0

In [ ]:
## here 19 is real
## 0j is imaginory part
#part before + is real and part after + is imag
## real and imag are attributes 
""" In python when we give . after value or variable its usually a attrribute or method
Attribute = a value or property that an object has
(like a characteristic or feature)
Example: car.color — the car has a color

Method = a function or action that an object can do
Example: car.drive() — the car can drive

we use parenthesis fof method not for object 
"""

 # Function

In [84]:

def fun_Name (parameter_name):
     return "hey" + parameter_name 
     print(fun_Name("ram"))

In [84]:
""" Above code is not giving an output because print is inside function
    print() should be outside the function
    return ended the function .
 print(fun_Name("ram"))    
 write outside the function.

"""

In [80]:
def fun_Name(parameter_name):
    return "hey " + parameter_name  # added space for better output

print(fun_Name("ram"))  # outside the function

hey ram

In [90]:
def name(input) :
    return "ENTER NAME -" +  input
print ( name (" Ram Shyam"))

ENTER NAME - Ram Shyam

In [ ]:
"""
def - keyword
name- function name
input - parameter 
return - ends the function 
ENTER NAME- MESSAGE
RAM SHYAM - VALUES WE PASSED TO PARAMETER
"""

## TYPES OF FUNCTION

#### POW FUNCTION

In [93]:
print(pow(3,3))
pow(2,2,2)

27

0

In [ ]:
#these function calculate power of number and modulous too
"""pow (base , exponential , modulous
  pow (2*2 % 2)"""
# output is zero because it is showing remainder quotiont will be 2

#### Divmod Function

In [97]:
a=10
b=3
print (divmod(a,b))

(3, 1)

In [ ]:
# performs division and modulous both in single step
""" here three is a quiotiont and 1 is remainder"""

#### Round Function

In [107]:
 a=24.2
 b= 0
round(12.00 , 1)
#syntax  round(number , ndigits)
print (round(12.3563 , 2))
print (round(12.35245) )    
print(round(a,b))

12.36
12
24.0

#### abs function

In [109]:
abs(-1)
print(abs(-1,-23))

TypeError: abs() takes exactly one argument (2 given)

In [110]:
abs(1)
#note -It take only one arument else give error

1

#### MIN() MAX() Function

In [114]:
a=2
b=3
c=90
print("maximum number is", max(a,b,c))
print("minimum number is ",min(a,b,c))
max(1,2,4,6,7)

maximum number is 90
minimum number is  2

7

In [116]:
a=4
b=3
c=55
print(sum(a,b))

TypeError: 'int' object is not iterable

In [ ]:
#sum() expects an iterable (like a list or tuple), not two separate numbers.
"""An iterable is anything you can loop over (go through one by one using a for loop)."""

In [117]:
sum([2,3,4])

9

In [ ]:
#Here Output comes

#### Sorted function

In [120]:
a=1
b=6
c=3
sorted([a,b,c])
#note - sorted(a,b,c) with give errors

[1, 3, 6]

#### math.factorial() Function

In [122]:
math.factorial(3)

NameError: name 'math' is not defined

In [ ]:
#ERROR - BECAUSE Math PACKAGE IS NOT IMPORTED

In [127]:
import math
a=3
print(math.factorial(5))
print(math.factorial(a))

120
6

In [ ]:
#math → a module (a collection of math-related functions)
#factorial → a function inside the math module
#You call it like this: math.factorial(5) → which gives 120

#### bin() Function

In [128]:
bin(12)

'0b1100'

#### oct() Function

In [129]:
oct(12)

'0o14'

#### hex() Function

In [131]:
hex(12)

'0xc'

# DocString

In [134]:
print("Sanjida Choudhari")
print("Sanjida 
choudhari")

SyntaxError: unterminated string literal (detected at line 2) (1674161188.py, line 2)

In [137]:
print("Sanjida \
choudhari")

Sanjida choudhari

In [138]:
print("""Microsoft Cares About Your PrivacyMicrosoft and our third-party vendors use cookies to store and access information such as unique IDs to deliver, maintain and improve our services and ads. If you agree, MSN and Microsoft Bing will personalise the content and ads that you see. You can select ‘I Accept’ to consent to these uses or click on ‘Manage preferences’ to review your options and exercise your right to object to Legitimate Interest where used.  You can change your selection under ‘Manage Preferences’ at the bottom of this page. Privacy Statement.
Number of Partners (vendors): 852.
""")

Microsoft Cares About Your PrivacyMicrosoft and our third-party vendors use cookies to store and access information such as unique IDs to deliver, maintain and improve our services and ads. If you agree, MSN and Microsoft Bing will personalise the content and ads that you see. You can select ‘I Accept’ to consent to these uses or click on ‘Manage preferences’ to review your options and exercise your right to object to Legitimate Interest where used.  You can change your selection under ‘Manage Preferences’ at the bottom of this page. Privacy Statement.
Number of Partners (vendors): 852.

In [ ]:
""" print("Sanjida 
choudhari")"""
# Throwing error
"""FIXES - \ use where you  press enter but will be tricky to use in big paragraph""" 
# Quick fix is to use a docstring """some text """  .............

In [9]:
a= ""
b="mostech"
print(a)
a= a+b
print(a)

mostech