# Remove- only removes values not index vise have to put index first at list in nested cases ------

In [1]:
#creating new list
list1=[1,2,"yash","ankita",[22,23,24,"dhara"],"moss-tech"]
print(list1)

[1, 2, 'yash', 'ankita', [22, 23, 24, 'dhara'], 'moss-tech']

In [4]:
list1.remove(22)

ValueError: list.remove(x): x not in list

In [1]:
## Get error why ?? Cause 22 is in nested
list1[4].remove(22)
print(list1)

NameError: name 'list1' is not defined

In [2]:
list2 = [1, 2, 'yash', 'ankita', [22, 23, 24, 'dhara'], 'moss-tech']
list2[4].remove(22)
print(list2)

[1, 2, 'yash', 'ankita', [23, 24, 'dhara'], 'moss-tech']

In [3]:
list2[4].remove(22)
print(list2)

ValueError: list.remove(x): x not in list

# Error--> because we already removed the valueee

In [4]:
list2[4].remove(23)
print(list2)

[1, 2, 'yash', 'ankita', [24, 'dhara'], 'moss-tech']

In [6]:
list2=[1, 2, ['a', 'b', [10, 20, 30]], 'end']
print(list2)

[1, 2, ['a', 'b', [10, 20, 30]], 'end']

In [11]:
list2[2][2].remove(30)
print(list2)

[1, 2, ['a', 'b', [10]], 'end']

## It will remove value vise not index vise in python ...........

# Using POP()-

In [15]:
Listnum= [1,"hello",
    ["apple", "banana", [100, 200, 300]],
    42,
    ["cat", ["dog", ["parrot", 555, "lion"], "tiger"], "cow"],
    "end",
    [10, 20, 30],
    ["deep", ["deeper", ["deepest", 999]]]
]
print(Listnum)

[1, 'hello', ['apple', 'banana', [100, 200, 300]], 42, ['cat', ['dog', ['parrot', 555, 'lion'], 'tiger'], 'cow'], 'end', [10, 20, 30], ['deep', ['deeper', ['deepest', 999]]]]

In [16]:
Listnum.pop(3)
print(Listnum)

[1, 'hello', ['apple', 'banana', [100, 200, 300]], ['cat', ['dog', ['parrot', 555, 'lion'], 'tiger'], 'cow'], 'end', [10, 20, 30], ['deep', ['deeper', ['deepest', 999]]]]

In [18]:
Listnum[3][1].pop(1)
print(Listnum)

[1, 'hello', ['apple', 'banana', [100, 200, 300]], ['cat', ['dog', 'tiger'], 'cow'], 'end', [10, 20, 30], ['deep', ['deeper', ['deepest', 999]]]]

In [19]:
num= [1,"hello",
    ["apple", "banana", [100, 200, 300]],
    42,
    ["cat", ["dog", ["parrot", 555, "lion"], "tiger"], "cow"],
    "end",
    [10, 20, 30],
    ["deep", ["deeper", ["deepest", 999]]]
]
print(num)

[1, 'hello', ['apple', 'banana', [100, 200, 300]], 42, ['cat', ['dog', ['parrot', 555, 'lion'], 'tiger'], 'cow'], 'end', [10, 20, 30], ['deep', ['deeper', ['deepest', 999]]]]

In [21]:
num[4][1].pop(2)
print(num)

[1, 'hello', ['apple', 'banana', [100, 200, 300]], 42, ['cat', ['dog', ['parrot', 'lion']], 'cow'], 'end', [10, 20, 30], ['deep', ['deeper', ['deepest', 999]]]]

# Using del[] -del is a statement in Python, not a method or function
## Slices of a list (multiple elements) we can delete but in pop() method we can delete one by one

In [17]:
del items[2] #we provide index here along with list name
print(items)

[1, 3, 6, 7, 8, 9, 0, 'cat', 'bagira']

In [4]:
listy=[1,2,3,4,5,7,8,9,0,7,533]
del listy [2:8]
print(listy)

[1, 2, 0, 7, 533]

In [7]:
#listy[1].pop(2) # we cant delete more tham more elements here--------------------
# listy.pop(1)
print (listy)

[1, 0, 7, 533]

# Using clear() method------
## it clears whole list

In [9]:
listy.clear()
print(listy)

[]

# Using Sort()

In [12]:
Alpha=['a','c','d','f','r','e','A','K']
Alpha.sort()
print(Alpha)

['A', 'K', 'a', 'c', 'd', 'e', 'f', 'r']

In [ ]:
# It will sort capital letters first then small---

In [14]:
num=[1,2,3,5674,5,6,]
num.sort()
print(num)

[1, 2, 3, 5, 6, 5674]

In [16]:
girl_names = ['Aanya', 'Sofia', 'Maya', 'Zara', 'Leah', 'Nina', 'Tara']
girl_names.sort(reverse=True)
print(girl_names)

['Zara', 'Tara', 'Sofia', 'Nina', 'Maya', 'Leah', 'Aanya']

In [ ]:
# Given list in reverse order starting with z

In [23]:
girl_names = ['Aanya', 'Sofia', 'Maya', 'Zara', 'Leah', 'Nina', 'Tara']
girl_names[-1: ]

['Tara']