Sum of all elements in a list

Find the maximum and minimum element in a list

Count occurrences of a specific element in a list

Check if a list is empty

Reverse a list without using built-in reverse()

Remove duplicates from a list while maintaining order

Find the second largest element in a list

Merge two lists into one

Find common elements between two lists

Check if a list is a palindrome

### Sum of all elements in a list

In [ ]:
list_is=[12,1,2,3,4,5,6,2,334]
#new=list_is[]=sum() #no such attribute
total= sum(list_is)
print(total)

In [6]:
#Not using new variable and loop_________

369

In [7]:
print(sum(list_is))

369

### Find the maximum and minimum element in a list

In [15]:
list2=[1,2,3,4,4,5,23,34,3,3343,3232,321]
new_max=max(list2)
new_min=min(list2)
print("the maximun element is :", new_max  ,"the minimun element is :" , new_min)

the maximun element is : 3343 the minimun element is : 1

In [ ]:
# without using other variable

In [17]:
print(max(list2) , min(list2))

3343 1

# Count occurrences of a specific element in a list

In [25]:
list2=[1,2,3,4,4,5,23,34,3,3343,3232,321]
var=list2.count(2)
#print(list2.count(1)) this also works

In [ ]:
l

# Check if a list is empty

In [44]:
list2=[1,2,2,2,3,44334,34,5566,98]
if len(list2)>0:
 print("list is not empty")
else:
 print("list is empty")

list is not empty

In [55]:
#second way
list3=[1,2,2,2,3,44334,34,5566,98]
       if list3[0:] and list3[-1]:
         print("it is not empty")
       else :
         print("list is empty")

IndentationError: unexpected indent (3855421347.py, line 3)

In [ ]:
# here error because the code inside list

In [78]:
#Second way --------------
list4 = [0]

if list4[0:]:
    print("List is not empty")
else:
    print("List is empty")

List is not empty

# Reverse a list without using built-in reverse()

In [79]:
list5=[1,2,2,2,3,44334,34,5566,98]
list5[::-1]

[98, 5566, 34, 44334, 3, 2, 2, 2, 1]

In [88]:
list6=[1,2,2,2,3,44334,34,5566,98]
print(list6.sort(reverse=True))

None

In [89]:
#list7=[1,2,2,2,3,44334,34,5566,98]
list7.sort(reverse=True)

In [90]:
#print(list7)

[44334, 5566, 98, 34, 3, 2, 2, 2, 1]

In [ ]:
#this is sorting in reversing manner...........................

In [91]:
#second way reverse method
list7=[1,2,2,2,3,44334,34,5566,98]
list.reverse(list7)

In [92]:
print(list7)

[98, 5566, 34, 44334, 3, 2, 2, 2, 1]

# Remove duplicates from a list while maintaining order

In [3]:
list8=[1,2,2,2,3,44334,34,5566,98]
unique=list(dict.fromkeys(list8))
print(unique)

[1, 2, 3, 44334, 34, 5566, 98]

# ✅ Yes, absolutely — dict.fromkeys() works with any iterable, including a set

In [1]:
list9=[1,2,2,2,3,44334,34,5566,98]
unique=list8.set(list9)
print(unique)

NameError: name 'list8' is not defined

In [ ]:
# if showing no atrribute then use function list(set()) but it will not preserve orderrrrrrrrrrr

In [2]:
list9=[1,2,2,2,3,44334,34,5566,98]
unique=list(set(list9))
print(unique)

[1, 2, 3, 34, 98, 44334, 5566]

# Find the second largest element in a list

In [32]:
list9=[1,2,2,2,3,44334,34,5566,98]
var2=set(list9)
var3= max(list9)
print(var3)
list9.remove(var3)
max_is=max(list9)
print(max_is)

44334
5566

TypeError: '>' not supported between instances of 'int' and 'types.GenericAlias'

# Merge two lists into one
## use extend ()
## +operator create new list
## *a,*b unpack b

In [33]:
a=[1,2,3,4,5,6,7,8]
b=["aishwarya","aishika",2.3,2.4]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 'aishwarya', 'aishika', 2.3, 2.4]

In [35]:
c=[1,2,3,4,5,6,7,8]
d=["aishwarya","aishika",2.3,2.4]
e=c+d
print(e)

[1, 2, 3, 4, 5, 6, 7, 8, 'aishwarya', 'aishika', 2.3, 2.4]

In [36]:
c=[1,2,3,4,5,6,7,8]
d=["aishwarya","aishika",2.3,2.4]
merge=[*a,*b]

In [37]:
print(merge)

[1, 2, 3, 4, 5, 6, 7, 8, 'aishwarya', 'aishika', 2.3, 2.4, 'aishwarya', 'aishika', 2.3, 2.4]

# Find common elements between two lists
### This is a set intersection in Python — used to find common elements between two lists.

In [44]:
c=[1,2,3,4,5,6,7,8]
d=[2,3,"aishwarya","aishika",2.3,2.4]
common=list(set(c) & set(d))

In [45]:
print(common)

[2, 3]

# Check if a list is a palindrome -- it is unchanged when reverse e.g madam
## check reveerse compare list

In [59]:
a=["madam","mom","madam"]
if a == a[::-1] :
 print("it is palindrome") 
else :
 print("its is not")

it is palindrome

# 1. Find all elements that appear exactly twice in a list

In [4]:
c=[1,2,2,3,3,4,5,6,7,8]
var=list(dict.fromkeys(c))
var

[1, 2, 3, 4, 5, 6, 7, 8]

In [14]:
c=[1,2,2,23,3,4,5,6,7,8]
time=c.count(3)
time

1

In [18]:
#Using If
s=[1,2,2,23,3,4,5,6,7,8]
if s.count(2) ==3 :
 print("twice")  
else :
 print("not twice")

not twice

In [20]:
my_list = ["a", "b", "c", "d", "e"]
my_list.pop(0)
my_list.pop(-1)
print(my_list)
#Expected output: ["b", "c", "d"]
# pop() modifies the list in place — i.e. the original list is changed

['b', 'c', 'd']

In [30]:
#Second way
my_list_2= ["a", "b", "c", "d", "e"]
del my_list_2 [0], my_list_2[-1]
print(my_list_2)

['b', 'c', 'd']

['e']